<div id="main" role="main" class="about">
	<h1 class="page-title">About Us</h1>
	<p>
		MTDParts.com is the corporate parts website for MTD Products, Inc.  Here, you can rest assured that you are getting the genuine MTD factory parts that were specifically designed, manufactured and tested to maintain the reliability and performance you expect from your MTD product.
	</p>
	<p>
		When you order your MTD Genuine Factory Parts here, you can also be confident that you will receive fast and responsive customer service.  We want to make the purchasing and installation of MTD lawn equipment parts, attachments and accessories as quick and simple as possible.  Just as important, you can count on a smooth, hassle-free buying experience. We've been selling online for over a decade and are committed to exceeding your expectations.  From the moment you shop for our parts, we've worked hard to make sure your experience with MTD Genuine Factory Parts, from MTDParts.com, is a positive one.
	</p>
	<p>
		Thank you for selecting MTD Genuine Factory Parts from MTDParts.com!
	</p>
</div>