	<nav class="bread">
		<a href="/cart/checkout" title="Checkout">Checkout</a>
	</nav>
	<div id="main" role="main">
		<div class="content">
			<!-- Server Side Errors, use html below.
			<div class="form-errors">
				<p>Please correct the following information:</p>
				<ul>
					<li>Please enter a valid promo code.</li>
					<li>Please enter a valid email address.</li>
				</ul> 
			</div>
			-->
			<ul class="checkout-progress">
				<li class="steps">1. sign in</li>
				<li class="steps">2. shipping</li>
				<li class="steps">3. payment</li>
				<li class="steps">4. thank you</li>
			</ul>
			<div class="checkout-block order-confirm">
				<p class="related"><strong>Order Confirmation</strong></p>
				<p class="related"><strong>Confirmation #: 1a345b78c0</strong></p>
				<p class="related"><strong>An email has been sent to jake@bazaar.com.</strong></p>
			</div>
			<div class="checkout-block account-create">
				<h2>Would you like to create an account?</h2>
				<form action="#" method="post" class="validate account-create" novalidate>
					<input type="hidden" name="username" value="jake@bazaar.com">
					<p>Username: <strong>jake@bazaar.com</strong></p>
					<div class="form-unit">
						<div class="form-input">
							<label for="password">Password:</label>
							<input type="password" name="password" id="password" data-valid="error-password" required pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[a-z]).*$">
						</div>
						<span class="error-field hide" id="error-password">Password is a required field</span>
					</div>
					<div class="form-unit">
						<div class="form-input">
							<label for="password-confirm">Confirm Password:</label>
							<input type="password" name="password_confirm" id="password-confirm" data-valid="error-password-confirm" required pattern="(?=^.{6,}$)((?=.*\d)|(?=.*\W+))(?![.\n])(?=.*[a-z]).*$">
						</div>
						<span class="error-field hide" id="error-password-confirm">Confirm password is a required field</span>
					</div>
					<div class="form-checkbox">
						<div class="form-input">
							<input type="checkbox" name="newsletter" id="newsletter" value="1" class="block-check">			
							<label class="block-label">Receive our monthly newsletter filled with seasonal tips, lawn and garden information and special offers.</label>
						</div>
					</div>
					<button class="action red large">Create Account</button>					
					<div class="form-errors user-errors hide">
						<p>Please check your form for the correct information:</p>
						<ul></ul>
						<i class="pictos icon-error"></i>
					</div>				
					<p class="user-pwd-match hide">Your password's do not match. Please enter and confirm your password again.</p>
				</form>
			</div>
			<ul id="view-cart" class="product-list products-list cart">
				<% @cart.each do |k,v| %>
				<li>
					<a title="<%= "#{v['product_name']}" %>" href="/products/detail/<%= "#{k}" %>">
						<div class="row">
							<div class="product-image cell">
								<span class="img-wrap">
									<img src="/wcpics/MTDPartsMobile/en_US/images/content/<%= "#{v['product_photo_hd']}" %>" width="70" height="70">
								</span>
							</div>
							<div class="product-info cell">
								<div class="table">
									<div class="row">
										<div class="product-name cell">
											<h2><%= "#{v['product_name']}" %></h2>									
											<p>Quantity: <%= "#{v['product_quantity']}" %><% if(v['product_is_part']) %><br /> Style: Medium Grey<% end %></p>
											<% if (v['product_backordered']) %>
											<p><em>Status: Back Ordered</em></p>
											<% else%>
											<p><em>Status: Item in stock</em></p>
											<% end %>
										</div>
										<div class="price-info cell">
											<p>
												<% if (v['product_price'] != v['product_sale_price']) %>
												<span class="price-one"><del><strong>$<%= sprintf("%0.2f","#{v['product_price']}") %></strong></del></span>
												<% end %>										
												<span class="price-two"><strong>$<%= sprintf("%0.2f","#{v['product_sale_price']}") %></strong></span>
											</p>
										</div>	
									</div>
								</div>	
							</div>	
						</div>
					</a>
				</li>
				<% end %>
			</ul>
			<div class="checkout-block shipping">
				<h2>Shipping Information</h2>
				<p class="related">Jake Bazaar</p>
				<p class="related">1348 Iconic Lane</p>
				<p class="related">Cleveland, OH 44105</p>
				<p class="related">(777) 444-5577</p>
				<p class="related last">jake@bazaar.com</p>
				<h2>Billing Information</h2>
				<p class="related">Visa XXXX-XXXX-XXXX-XXXX</p>
				<p class="related">Jake Bazaar</p>
				<p class="related">1348 Iconic Lane</p>
				<p class="related">Cleveland, OH 44105</p>
				<p class="related">(777) 444-5577</p>
				<p class="related last">jake@bazaar.com</p>	
			</div>
			<div class="table cart-options bottom">
				<div class="row">
					<div class="cell verisign middle">
						<img src="/wcpics/MTDPartsMobile/en_US/images/verisign.png" alt="Verisign">
					</div>
					<div class="cell cart-totals">
						<div class="table">
							<div class="row">
								<div class="cell">Item Total:</div>
								<div class="cell">$<% if (@cart_amount) %><%=sprintf("%0.2f", @cart_amount)%> <% end %></div>
							</div>
							<div class="row">
								<div class="cell">Savings:</div>
								<div class="cell">-$12.00</div>
							</div>
							<div class="row border">
								<div class="cell">Shipping:</div>
								<div class="cell">$6.00</div>
							</div>
							<div class="row">
								<div class="cell"><strong>Subtotal:</strong></div>
								<div class="cell"><strong>$<% if (@cart_subamount) %> <%=sprintf("%0.2f",@cart_subamount)%> <% end %></strong></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>