<nav class="bread">
	<a href="/cart/checkout" title="Checkout">Checkout</a>
</nav>
<div id="main" role="main">
	<div class="content">
			<!-- Server Side Errors, use html below.
			<div class="form-errors">
				<p>Please correct the following information:</p>
				<ul>
					<li>Please enter a valid promo code.</li>
					<li>Please enter a valid email address.</li>
				</ul> 
			</div>
			-->
		<ul class="checkout-progress">
			<li class="steps">1. sign in</li>
			<li>2. shipping</li>
			<li>3. payment</li>
			<li>4. thank you</li>
		</ul>
		<div class="checkout-block">
			<h2>Continue as guest</h2>
			<p>You may continue as a guest to make your purchase. You will have the option to create a new account after entering your shipping/billing information. If you already have an account, please sign in.</p>
			<div class="table">
				<div class="row">
					<div class="cell">
						<a href="/cart/checkout/shipping" class="action red large">Continue</a>
					</div>
					<div class="cell verisign">
						<img src="/wcpics/MTDPartsMobile/en_US/images/verisign.png" alt="Verisign">
					</div>
				</div>
			</div>
		</div>
		<div class="checkout-block">
			<h2 class="toggle">Sign In</h2>
			<form action="/cart/checkout/signin" method="post" class="validate form-signin" id="form-signin" novalidate>
				<div class="form-unit">
					<div class="form-input">
						<label for="username">Username</label>
						<input type="text" name="username" id="username" required data-valid="error-username" required>
					</div>
					<a href="/forgot-username?from=cart" title="forgot username?">forgot username?</a>
					<span class="error-field hide" id="error-username">Username is a required field</span>
				</div>
				<div class="form-unit">
					<div class="form-input">
						<label for="password">Password</label>
						<input type="password" name="password" required id="password" data-valid="error-password" required>
					</div>
					<a href="/forgot-password?from=cart" title="forgot password?">forgot password?</a>
					<span class="error-field hide" id="error-password">Password is a required field</span>
				</div>
				<input type="hidden" name="return_url" value="/cart/checkout/shipping" />
				<button class="action red large" type="submit">Sign In</button>	
				<div class="form-errors user-errors hide">
					<p>Please check your form for the correct information:</p>
					<ul></ul>
					<i class="pictos icon-error"></i>
				</div>
			</form>
		</div>
	</div>
</div>