	<nav class="bread">
		<a href="/cart/checkout" title="Checkout">Checkout</a>
	</nav>
	<div id="main" role="main">
		<div class="content">
			<!-- Server Side Errors, use html below.
			<div class="form-errors">
				<p>Please correct the following information:</p>
				<ul>
					<li>Please enter a valid promo code.</li>
					<li>Please enter a valid email address.</li>
				</ul> 
			</div>
			-->
			<ul class="checkout-progress">
				<li class="steps">1. sign in</li>
				<li class="steps">2. shipping</li>
				<li class="steps">3. payment</li>
				<li>4. thank you</li>
			</ul>
			<ul class="drill-single">
				<li class="single"><a href="#view-cart" title="View Cart" class="toggle" data-toggle="view-cart">View Cart (<%=@cart_items%>) <span class="plus-r pictos icon-circle-plus"></span></a>
					<ul id="view-cart" class="product-list products-list cart hide">
						<% @cart.each do |k,v| %>
						<li>
							<a title="<%= "#{v['product_name']}" %>" href="/products/detail/<%= "#{k}" %>">
								<div class="row">
									<div class="product-image cell">
										<span class="img-wrap">
											<img src="/wcpics/MTDPartsMobile/en_US/images/content/<%= "#{v['product_photo_hd']}" %>" width="70" height="70">
										</span>
									</div>
									<div class="product-info cell">
										<div class="table">
											<div class="row">
												<div class="product-name cell">
													<h2><%= "#{v['product_name']}" %></h2>									
													<p>Quantity: <%= "#{v['product_quantity']}" %><% if(v['product_is_part']) %><br /> Style: Medium Grey<% end %></p>
													<% if (v['product_backordered']) %>
													<p><em>Status: Back Ordered</em></p>
													<% else%>
													<p><em>Status: Item in stock</em></p>
													<% end %>
												</div>
												<div class="price-info cell">
													<p>
														<% if (v['product_price'] != v['product_sale_price']) %>
														<span class="price-one"><del><strong>$<%= sprintf("%0.2f","#{v['product_price']}") %></strong></del></span>
														<% end %>										
														<span class="price-two"><strong>$<%= sprintf("%0.2f","#{v['product_sale_price']}") %></strong></span>
													</p>
												</div>	
											</div>
										</div>	
									</div>	
								</div>
							</a>
						</li>
						<% end %>
					</ul>
				</li>
			</ul>
			<div class="checkout-block shipping">
				<form action="/cart/checkout/payment" method="post" class="validate" novalidate>
					<h2>Shipping Information <span class="edit"><a href="/cart/checkout/shipping" title="Edit">Edit</a></span></h2>
					<p class="related">Jake Bazaar</p>
					<p class="related">1348 Iconic Lane</p>
					<p class="related">Cleveland, OH 44105</p>
					<p class="related">(777) 444-5577</p>
					<p class="related last">jake@bazaar.com</p>
					<h2>Billing Information <span class="edit"><a href="/cart/checkout/shipping" title="Edit">Edit</a></span></h2>
					<p class="related">Jake Bazaar</p>
					<p class="related">1348 Iconic Lane</p>
					<p class="related">Cleveland, OH 44105</p>
					<p class="related">(777) 444-5577</p>
					<p class="related last">jake@bazaar.com</p>					
					<h2>Payment</h2>
					<div class="payment-info">
						<div class="form-unit">
							<div class="form-input">
								<label for="credit-card-number">Credit Card Number:</label>
								<input type="tel" name="credit_card_number" id="credit-card-number" required class="related" maxlength="16" pattern="^(?:4[0-9]{12}(?:[0-9]{3})?|5[1-5][0-9]{14}|6(?:011|5[0-9][0-9])[0-9]{12}|3[47][0-9]{13}|3(?:0[0-5]|[68][0-9])[0-9]{11}|(?:2131|1800|35\d{3})\d{11})$" data-valid="error-credit-card-number">
							</div>
							<ul class="accepted-cards">
								<li class="americanexpress">American Express</li>
								<li class="discover">Discover</li>
								<li class="mastercard">MasterCard</li>
								<li class="visa">Visa</li>
							</ul>							
							<span class="error-field hide" id="error-credit-card-number">Credit Card is a required field</span>
						</div>
						<div class="form-unit">
							<div class="form-input">
								<label for="expiration-date" class="label-select">Expiration Date:</label>
								<select name="card_month" data-valid="error-card-month" required>
									<option value="01">01</option>
									<option value="02">02</option>
									<option value="03">03</option>
									<option value="04">04</option>
									<option value="05">05</option>
									<option value="06">06</option>
									<option value="07">07</option>
									<option value="08">08</option>
									<option value="09">09</option>
									<option value="10">10</option>
									<option value="11">11</option>
									<option value="12">12</option>
								</select>
								<select name="card_month" data-valid="error-card-month" required>
									<option value="2012">2012</option>
									<option value="2013">2013</option>
									<option value="2014">2014</option>
								</select>
							</div>
							<span class="error-field hide" id="error-card-month">Expiration Month is a required field</span>
							<span class="error-field hide" id="error-card-year">Expiration Year is a required field</span>
						</div>
						<div class="form-unit">		
							<div class="form-input">
								<label for="security-code">Security Code:</label>						
								<input type="tel" name="security_code" id="security-code" data-valid="error-security-code" class="related" required maxlength="4">
							</div>
							<span class="error-field hide" id="error-security-code">Security Code is a required field</span>
							<a href="#" class="toggle" data-toggle="help-security-code">Where can I find this? <i class="pictos icon-circle-plus"></i></a>
							<div id="help-security-code" class="hide">
								<img src="/wcpics/MTDPartsMobile/en_US/images/cc-security-code.png" alt="Security Code Diagram">
							</div>
						</div>
					</div>
					<div class="table cart-options bottom">
						<div class="row">
							<div class="cell verisign middle">
								<img src="/wcpics/MTDPartsMobile/en_US/images/verisign.png" alt="Verisign">
							</div>
							<div class="cell cart-totals">
								<div class="table">
									<div class="row">
										<div class="cell">Item Total:</div>
										<div class="cell">$<% if (@cart_amount) %><%=sprintf("%0.2f", @cart_amount)%> <% end %></div>
									</div>
									<div class="row">
										<div class="cell">Savings:</div>
										<div class="cell">-$12.00</div>
									</div>
									<div class="row border">
										<div class="cell">Shipping:</div>
										<div class="cell">$6.00</div>
									</div>
									<div class="row">
										<div class="cell"><strong>Subtotal:</strong></div>
										<div class="cell"><strong>$<% if (@cart_subamount) %> <%=sprintf("%0.2f",@cart_subamount)%> <% end %></strong></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="continue-pay group"><button class="action red large" type="submit">Place Order</button></div>
					<div class="form-errors user-errors hide">
						<p>Please check your form for the correct information:</p>
						<ul></ul>
						<i class="pictos icon-error"></i>
					</div>
				</form>
			</div>
		</div>
	</div>