	<div id="main" role="main" class="add-error">
		<div class="product-error">
			<img src="/wcpics/MTDPartsMobile/en_US/images/content/<%= @product['photo_hd'] %>" alt="Product Name" width="70" />
			<p class="page-error"><strong>The product you selected cannot be added to your Shopping Cart.</strong></p>
		</div>
		<p><a href="/products/detail/<%=@product_id%>" title="Continue Shopping" class="action grey"><i class="pictos icon-back-small"></i> Continue Shopping</a></p>
	</div>