		<header>
			<nav class="nav-bar">
				<ul class="group">
					<li class="main-menu col"><span id="btn-cart-back" class="btn"><i class="icon-back pictos"></i></span></li>
					<li class="nav-title col">Shopping Cart</li>
					<li class="checkout-menu col">
						<% if @cart %>
						<a href="/cart/checkout" class="action red checkout">
							Checkout <i class="pictos cart-icon"></i>
							<% if @cart_items != 0 %>
							<span class="cart-items"><%=@cart_items%></span>
							<% end %>						
						</a>
						<% end %>
					</li>
				</ul>
			</nav>
		</header>
<% if @cart %>
		<ul class="product-list cart">
		<% @cart.each do |k,v| %>
			<li>
				<div class="row item-meta">
					<div class="product-image cell">
						<span class="img-wrap">
							<img data-img="/wcpics/MTDPartsMobile/en_US/images/content/<%= "#{v['product_photo']}" %>" data-img-hd="/wcpics/MTDPartsMobile/en_US/images/content/<%= "#{v['product_photo_hd']}" %>" class="cart-lazyload">
							<noscript>
								<img src="/wcpics/MTDPartsMobile/en_US/images/content/<%= "#{v['product_photo']}" %>">
							</noscript>
						</span>
					</div>
					<div class="product-info cell">
						<div class="table">
							<div class="row">
								<div class="product-name cell">
									<h2><%= "#{v['product_name']}" %></h2>
									<p>Quantity: <%= "#{v['product_quantity']}" %><% if(v['product_is_part']) %><br/> Style: Medium Grey<% end %></p>
									<% if (v['product_backordered']) %>
									<p><em>Status: Back Ordered</em></p>
									<% else%>
									<p><em>Status: Item in stock</em></p>
									<% end %>
								</div>
								<div class="price-info cell">
									<p>
										<% if (v['product_price'] != v['product_sale_price']) %>
										<span class="price-one"><del><strong>$<%= sprintf("%0.2f","#{v['product_price']}") %></strong></del></span>
										<% end %>										
										<span class="price-two"><strong>$<%= sprintf("%0.2f","#{v['product_sale_price']}") %></strong></span>
									</p>
									<i class="icon-circle-plus pictos"></i>
								</div>
							</div>
						</div>
					</div>						
				</div>
				<div class="item-options">
					<ul class="group">
						<li class="col">
							<form method="post" action="/cart/delete" class="delete">
								<input type="hidden" name="product_id" value="<%= "#{k}" %>" >
								<button type="submit" class="action grey">Remove Item</button>
							</form>
						</li>
						<li class="col mid">
							<span class="action grey">
								<form method="post" action="/cart/update" class="update">
									<input type="hidden" name="product_id" value="<%= "#{k}" %>" >
									<input type="hidden" name="product_price" value="<%= "#{v['product_price']}" %>" >
									<select name="product_quantity" class="select-submit">
										<option value="1"<%=(v['product_quantity'] == '1') ? ' selected' : '' %>>Qty 1</option>
										<option value="2"<%=(v['product_quantity'] == '2') ? ' selected' : '' %>>Qty 2</option>
										<option value="3"<%=(v['product_quantity'] == '3') ? ' selected' : '' %>>Qty 3</option>
										<option value="4"<%=(v['product_quantity'] == '4') ? ' selected' : '' %>>Qty 4</option>
										<option value="5"<%=(v['product_quantity'] == '5') ? ' selected' : '' %>>Qty 5</option>
										<option value="6"<%=(v['product_quantity'] == '6') ? ' selected' : '' %>>Qty 6</option>
										<option value="7"<%=(v['product_quantity'] == '7') ? ' selected' : '' %>>Qty 7</option>
										<option value="8"<%=(v['product_quantity'] == '8') ? ' selected' : '' %>>Qty 8</option>
										<option value="9"<%=(v['product_quantity'] == '9') ? ' selected' : '' %>>Qty 9</option>
										<option value="10"<%=(v['product_quantity'] == '10') ? ' selected' : '' %>>Qty 10</option>
									</select>
								</form>
							</span>
						</li>
						<li class="col">
							<a class="action grey" href="/products/detail/<%= "#{k}" %>">View Details</a>
						</li>
					</ul>
				</div>
			</li>
		<% end %>
		</ul>
		<div class="promo-code">
			<span class="toggle" data-toggle="form-promo" id="promo-toggle">Have a promo code? <i class="pictos icon-circle-plus promo"></i></span>
			<form method="post" action="/cart/promo" id="form-promo" class="hide validate" novalidate>
				<div class="form-unit">
					<div class="form-input">
						<label for="promo-code">Promo Code:</label>
						<input type="text" name="promo_code" id="promo-code" data-valid="error-promo-code" required>
					</div>
					<span class="error-field hide" id="error-promo-code">Promo Code is a required field</span>
				</div>
				<div class="form-unit">
					<div class="form-input">
						<label for="promo-email">Email Address:</label>
						<input type="email" name="promo_email" id="promo-email" data-valid="error-promo-email" required>
					</div>
					<span class="error-field hide" id="error-promo-email">Email address is a required field</span>
				</div>
				<div>
					<span class="toggle" data-toggle="why-email">Why do we need your email? <i class="pictos icon-circle-plus promo"></i></span>
					<p id="why-email" class="hide">Each promotional code is only allowed to be used a certain number of times. We use your email address to determine how many times you have used a particular promotional code. By entering your email address here, you will NOT be sent any emails or added to any email lists. We are just using your email address for validation purposes. Please see our Privacy Policy for further information.</p>
				</div>
				<button type="submit" class="action grey">Apply Promo Code</button>
			</form>
		</div>
		<div class="table cart-options bottom">
			<div class="row">
				<div class="cell verisign">
					<img src="/wcpics/MTDPartsMobile/en_US/images/verisign.png" alt="Verisign">
				</div>
				<div class="cell cart-totals">
					<div class="table">
						<div class="row">
							<div class="cell">Item Total:</div>
							<div class="cell">$<% if (@cart_amount) %><%=sprintf("%0.2f", @cart_amount)%> <% end %></div>
						</div>
						<div class="row">
							<div class="cell">Savings:</div>
							<div class="cell">-$12.00</div>
						</div>
						<div class="row border">
							<div class="cell">Shipping:</div>
							<div class="cell">$6.00</div>
						</div>
						<div class="row">
							<div class="cell"><strong>Subtotal:</strong></div>
							<div class="cell"><strong>$<% if (@cart_subamount) %> <%=sprintf("%0.2f",@cart_subamount)%> <% end %></strong></div>
						</div>
					</div>
				</div>
			</div>  
			<div class="row">
				<div class="cell">
					<span class="action grey" id="btn-continue"><i class="icon-back-small"></i> Continue Shopping</span>
				</div>
				<div class="cell right">
					<a href="/cart/checkout" title="Checkout" class="action red checkout">
						Checkout <i class="pictos cart-icon"></i>
							<% if @cart_items != 0 %>
							<span class="cart-items"><%=@cart_items%></span>
							<% end %>	
					</a> 
				</div>
			</div>
		</div>
<% else %>
		<div class="cart-fresh">
			<h2>Your shopping cart is empty.</h2>
			<i class="pictos icon-cart-empty-large"></i>
			<p>If you see something you would like to add to your cart while shopping, tap "Add to Cart".</p>
			<span class="action grey" id="btn-continue"><i class="pictos icon-back-small"></i> Continue Shopping</span>
		</div>
<% end %>
