	<nav class="bread">
		<a href="/cart/checkout" title="Checkout">Checkout</a>
	</nav>
	<div id="main" role="main">
		<div class="content">
			<!-- Server Side Errors, use html below.
			<div class="form-errors">
				<p>Please correct the following information:</p>
				<ul>
					<li>Please enter a valid promo code.</li>
					<li>Please enter a valid email address.</li>
				</ul> 
			</div>
			-->
			<ul class="checkout-progress">
				<li class="steps">1. sign in</li>
				<li class="steps">2. shipping</li>
				<li>3. payment</li>
				<li>4. thank you</li>
			</ul>
			<ul class="drill-single">
				<li class="single"><a href="#view-cart" title="View Cart" class="toggle" data-toggle="view-cart">View Cart (<%=@cart_items%>) <span class="plus-r pictos icon-circle-plus"></span></a>
					<ul id="view-cart" class="products-list product-list cart hide">
						<% @cart.each do |k,v| %>
						<li>
							<a title="<%= "#{v['product_name']}" %>" href="/products/detail/<%= "#{k}" %>">
								<div class="row">
									<div class="product-image cell">
										<span class="img-wrap">
											<img src="/wcpics/MTDPartsMobile/en_US/images/content/<%= "#{v['product_photo_hd']}" %>" width="70" height="70">
										</span>
									</div>
									<div class="product-info cell">
										<div class="table">
											<div class="row">
												<div class="product-name cell">
													<h2><%= "#{v['product_name']}" %></h2>									
													<p>Quantity: <%= "#{v['product_quantity']}" %><% if(v['product_is_part']) %><br/> Style: Medium Grey<% end %></p>
													<% if (v['product_backordered']) %>
													<p><em>Status: Back Ordered</em></p>
													<% else%>
													<p><em>Status: Item in stock</em></p>
													<% end %>
												</div>
												<div class="price-info cell">
													<p>
														<% if (v['product_price'] != v['product_sale_price']) %>
														<span class="price-one"><del><strong>$<%= sprintf("%0.2f","#{v['product_price']}") %></strong></del></span>
														<% end %>										
														<span class="price-two"><strong>$<%= sprintf("%0.2f","#{v['product_sale_price']}") %></strong></span>
													</p>
												</div>	
											</div>
										</div>	
									</div>	
								</div>
							</a>
						</li>
						<% end %>
					</ul>
				</li>
			</ul>
			<div class="checkout-block shipping">
				<form action="/cart/checkout/shipping" method="post" class="validate" novalidate>
					<h2>Shipping Information</h2>
					<div class="form-unit">
						<div class="form-input">
							<label for="firstname">*First Name:</label>
							<input type="text" name="firstname" id="firstname" required data-valid="error-firstname" value="">
						</div>
						<span class="error-field hide" id="error-firstname">First Name is a required field</span>
					</div>
					<div class="form-unit">
						<div class="form-input">
							<label for="lastname">*Last Name:</label>
							<input type="text" name="lastname" id="lastname" required data-valid="error-lastname" value="">
						</div>
						<span class="error-field hide" id="error-lastname">Last Name is a required field</span>
					</div>
					<div class="form-unit">
						<div class="form-input">
							<label for="address">*Street Address:</label>
							<input type="text" name="address" id="address" required class="related" data-valid="error-address" value="">
						</div>
						<div class="form-input">
							<label for="address2" class="t-hide">Street Address</label>
							<input type="text" name="address2" value="">
						</div>
						<span class="ship-constraint">Cannot ship Next Day or Second Day to P.O. Boxes</span>
						<span class="error-field hide" id="error-address">Address is a required field</span>
					</div>
					<div class="form-unit">
						<div class="form-input">
							<label for="city">*City:</label>
							<input type="text" name="city" id="city" required data-valid="error-city" value="">
						</div>
						<span class="error-field hide" id="error-city">City is a required field</span>
					</div>
					<div class="form-unit">
						<div class="form-input">
							<label for="state" class="label-select">*State:</label>
							<select name="state" id="state" required data-valid="error-state">
								<option value="">Select</option>
								<option value="AL">Alabama</option>
								<option value="AZ">Arizona</option>
								<option value="AR">Arkansas</option>
								<option value="CA">California</option>
								<option value="CO">Colorado</option>
								<option value="CT">Connecticut</option>
								<option value="DC">DC</option>
								<option value="DE">Delaware</option>
								<option value="FL">Florida</option>
								<option value="GA">Georgia</option>
								<option value="ID">Idaho</option>
								<option value="IL">Illinois</option>
								<option value="IN">Indiana</option>
								<option value="IA">Iowa</option>
								<option value="KS">Kansas</option>
								<option value="KY">Kentucky</option>
								<option value="LA">Louisiana</option>
								<option value="ME">Maine</option>
								<option value="MD">Maryland</option>
								<option value="MA">Massachusetts</option>
								<option value="MI">Michigan</option>
								<option value="MN">Minnesota</option>
								<option value="MS">Mississippi</option>
								<option value="MO">Missouri</option>
								<option value="MT">Montana</option>
								<option value="NE">Nebraska</option>
								<option value="NV">Nevada</option>
								<option value="NH">New Hampshire</option>
								<option value="NJ">New Jersey</option>
								<option value="NM">New Mexico</option>
								<option value="NY">New York</option>
								<option value="NC">North Carolina</option>
								<option value="ND">North Dakota</option>
								<option value="OH">Ohio</option>
								<option value="OK">Oklahoma</option>
								<option value="OR">Oregon</option>
								<option value="PA">Pennsylvania</option>
								<option value="RI">Rhode Island</option>
								<option value="SC">South Carolina</option>
								<option value="SD">South Dakota</option>
								<option value="TN">Tennessee</option>
								<option value="TX">Texas</option>
								<option value="UT">Utah</option>
								<option value="VT">Vermont</option>
								<option value="VA">Virginia</option>
								<option value="WA">Washington</option>
								<option value="WV">West Virginia</option>
								<option value="WI">Wisconsin</option>
								<option value="WY">Wyoming</option>
							</select>
						</div>
						<span class="error-field hide" id="error-state">State is a required field</span>
					</div>				
					<div class="form-unit">
						<div class="form-input">
							<label for="zipcode">*Zip Code:</label>						
							<input type="tel" name="zipcode" id="zipcode" required data-valid="error-zipcode" value="" pattern="[\d]{5}" maxlength="5">		
						</div>					
						<span class="error-field hide" id="error-zipcode">Zip Code is a required field</span>
					</div>
					<div class="form-unit">
						<div class="form-input">
							<label for="shipping-phone-complete">*Phone:</label>	
							<div class="phone-fields">			
								<input type="tel" name="phone" class="field-phone field1" maxlength="3">					
								<input type="tel" name="phone2" class="field-phone field2" maxlength="3">					
								<input type="tel" name="phone3" class="field-phone field3" maxlength="4">	
								<input type="tel" name="shipping_phone_complete" class="hide hidden-phone" data-valid="error-shipping-phone-complete" id="shipping-phone-complete" required pattern="[\d]{10}" maxlength="10">
							</div>
						</div>
						<span class="error-field hide" id="error-shipping-phone-complete">Phone is a required field</span>
						<p>
							<span class="field-note">We will only call if there are issues with your order.</span>
						</p>
					</div>
					<div class="form-unit">
						<div class="form-input">
							<label for="email">*Email Address:</label>	
							<input type="email" name="email" id="email" required data-valid="error-email" value="">
						</div>
						<span class="error-field hide" id="error-email">Email is a required field</span>
					</div>
					<div class="form-unit">
						<div class="form-input">
							<label for="shipping-method" class="label-select">*Shipping Method:</label>	
							<select name="shipping_method" id="shipping-method" data-valid="error-shipping-method" required>
								<option value="">Select</option>
								<option value="standard">Standard - $6.99 - Delivery 12/24/12-12/25/12</option>
								<option value="ground">Ground - $11.98 - Delivery 12/22/12-12/23/12</option>
								<option value="second-day">2nd Day - $16.98 - Delivery 12/21/12</option>
								<option value="next-day">Next Day - $21.98 - Delivery 12/20/12</option>
							</select>	
						</div>						
						<span class="error-field hide" id="error-shipping-method">Shipping Method is a required field</span>
					</div>
					<p>Next day and second day orders must be placed by 1pm EST to guarantee on-time shipment. Orders placed after 1pm EST will be shipped the following business day.</p>	
					<div class="form-unit">
						<div class="form-checkbox">
							<div class="form-input">
								<input type="checkbox" name="shipping_policy" id="shipping-policy" data-valid="error-shipping-policy" required value="1" class="block-check">			
								<label class="block-label">I have read and agree to the MTD Parts Online Store and Shipping Policy. <strong>Required</strong></label>
							</div>
						</div>
						<span class="error-field hide" id="error-shipping-policy">Shipping Policy is a required field</span>
					</div>
					<ul class="drill-single">
						<li class="single"><a href="#policy-content" title="Shipping Policy" class="toggle" data-toggle="policy-content">Shipping Policy <span class="plus-r pictos icon-circle-plus"></span></a>
							<div id="policy-content" class="hide">
								<h3>Shipping Policy</h3>
								<p>We are unable to ship to FPO's or APO's. Shipping is available in the United States and charges are based on the total dollar amount of the order and are as follows:</p>
								<table><tbody><tr><td><strong>Order Price Range</strong></td><td><strong>Parcel Freight Charge</strong></td></tr><tr><td>$0.01 - 1.99</td><td>$2.99</td></tr><tr><td>$2.00 - 4.99</td><td>$3.99</td></tr><tr><td>$5.00 - 11.99</td><td>$5.99</td></tr><tr><td>$12.00 - 15.99</td><td>$6.99</td></tr><tr><td>$16.00 - $29.99</td><td>$9.99</td></tr><tr><td>$30.00 - 49.99</td><td>$12.99</td></tr><tr><td>$50.00 - 74.99</td><td>$14.99</td></tr><tr><td>$75.00 - 99.99</td><td>$15.99</td></tr><tr><td>$100.00 - 149.99</td><td>$17.99</td></tr><tr><td>$150.00 - 199.99</td><td>$19.99</td></tr><tr><td>$200.00 or more</td><td>$29.99</td></tr><tr><td><strong>Order Price Range</strong></td><td><strong>LTL Freight Charge Cost</strong></td></tr><tr><td>$399.99 or less</td><td>$35.99</td></tr><tr><td>$400.00 - 699.99</td><td>$49.99</td></tr><tr><td>$700.00 - 1,999.99</td><td>$99.99</td></tr><tr><td>$2000.00 or more</td><td>$149.99</td></tr></tbody></table>
								<h3>Expedited Shipping:</h3>
								<p>Expedited shipping orders can not be shipped to P.O. Boxes. Please use your physical address for next day and second day orders. We can not expedite orders to Alaska or Hawaii.</p>
								<p>In addition to the standard shipping charge, there will bea flat-rate charge for next day and second day shipments. Expedited shipping applies to most part and accessory orders and will be offered as an option if the items in your order qualify for expedited shipment. Next day and second day orders must be placed <u>before</u> 1pm EST to ship on the date the order is placed. Next day and second day orders placed <u>after</u> 1pm EST will be shipped on the following business day. Shipments will only take place on business days (Monday-Friday), excluding holidays. Please refer to the dates listed during checkout for your expected shipment and delivery dates.</p>
								<h3>What is LTL (Less than Truckload) shipping items?</h3>
								<p>These special freight truck deliveries are used for orders that exceed the weight and/or dimension restrictions of United Parcel Service or FedEx. As a result, we want to go over how LTL deliveries perform. The estimated time of delivery is 5 to 7 business days (excluding weekends and holidays). Once the order has been processed and shipped from the warehouse, you can expect a phone call from the freight company at least 24 hours prior to delivery. Therefore, it is important we have your daytime phone number at the time of creating your order. If you have any doubt that you didn't provide us this information, please contact us. We will be happy to verify this for you. There are some special considerations regarding LTL Freight deliveries. Please beware of the following information: Many truck freight companies do not require their drivers to unload shipments. We suggest that you make arrangements to have extra help on hand to assist in these circumstances. Ramps and/or unloading equipment may be necessary to have at the site. You can expect a phone call from the freight company at least 24 hours prior to delivery. If the shipping company needs to make special arrangements to unload merchandise for customers, such as special lift-gate truck delivery or extra delivery personnel, it will be the responsibility of the customer to reimburse the trucking company unless otherwise noted. Some municipalities and some delivery areas prohibit truck freight delivery in residential areas. In these circumstances customers may have to arrange pick-up at the local trucking distribution center. Please inspect the product carefully and thoroughly before signing the shipping receipt. Shipping damage is covered by the LTL Freight Company. Your signature on the receipt is your acceptance of the merchandise in good condition. The customer must arrange all returns or exchanges of LTL Freight shipments with a local carrier.</p>
								<h3>Online Purchase Return Policy</h3>
								<p>* All returns are subject to inspection by Troy-Bilt personnel as to possible use, misuse, missing components, damage or abuse. Refunds may be denied as a result of failure to pass a return inspection. After 30 days, all returns on equipment and parts are subject to a restocking fee up to 25% of the original purchase price. If you have purchased equipment, accessories, or parts from a retailer or authorized dealer, please return your product to where it was purchased.</p>
								<h3>Online Parts and Accessories Purchase Return Policy</h3>
								<ul>
									<li>UNUSED, NON-ELECTRICAL parts may be returned for a refund of the price of the part(s) within a period of 30 days after delivery of the order.</li>
									<li>Prior to the return of the parts, the customer is to contact the Troy-Bilt Parts Department and receive a return authorization through the customer support section or by calling us at 1-800-828-5500.</li>
									<li>Merchandise must be returned by the customer at the customer's expense.</li>
									<li>Merchandise returned without a return authorization may or may not receive refund. This decision is solely on behalf of MTD. </li>
									<li>All parts returned to Troy-Bilt either with or without a return authorization become the sole property of Troy-Bilt. </li>
									<li>There is a NO RETURN policy on USED parts. </li>
									<li>There is a NO RETURN policy on ELECTRICAL parts. This would include but not be limited to; solenoids, switches, rectifiers, electric motors, wiring, batteries and battery chargers. </li>
								</ul>
								<h3>Cancelation Policy </h3>
								<p>If you should choose to cancel your order, please understand that there is a limited amount of time that an order can be cancelled. After you place your order with us, our secured order system will immediately begin to process your order.</p>
								<p>After processing, an order can only be cancelled prior to your credit card authorizing payment so the order can be released for shipment. We are unable to cancel your order after your credit card has been authorized for payment. Once the order has been authorized, it will ship.</p>
								<p>A backordered item can be cancelled.</p>
								<p>You may email or call us (1.800.269.6215) with the following information:</p>
								<ul>
									<li>Copy of your order confirmation</li>
									<li>Order Number</li>
									<li>Bill-To Information</li>
									<li>Phone Number provided by you for the order</li>
								</ul>
								<h3>Power Equipment - Online Purchase Return Policy</h3>
								<ul>
									<li>NEW AND UNUSED equipment may be returned, at the customer's expense, for a period of 14 days after the date of delivery. Only equipment that has been purchased on TroyBilt.com or ordering directly from the Troy-Bilt phone line may be returned. If you purchased your equipment from a retailer or dealer, please return your equipment to the location it was purchase from. Customers who purchased their equipment from TroyBilt.com or over the phone who wish to return merchandise must call 1-800-828-5500, within that fourteen-day period, to obtain a return authorization and return instructions prior to returning the merchandise. Once a unit has had fuel put into the fuel system it is considered "used" and non-returnable. Units that are performing as designed are non-returnable as they are now considered "used". </li>
									<li>It is extremely important that all new and unused items being returned receive a return authorization approval prior to being returned. Equipment returned without a return authorization prior to shipment may be rejected for refund consideration and may also be subject to a storage fee of $20 per day. The total storage charges may not exceed the total amount originally billed when the item was originally purchased. If an item is returned and becomes subject to storage fees, it will be considered "abandoned". Abandoned items will become the sole property of Troy-Bilt as soon as the storage fees meet or exceed the amount of the price paid originally for the item. When the remaining credit eligible balance reaches zero, abandoned items may be resold or disposed of completely at the discretion of Troy-Bilt.</li>
								</ul>
								<h3>Shipping and Handling Charges</h3>
								<ul>
									<li>Shipping and handling charges are refundable if the item was shipped in error on behalf of Troy-Bilt, otherwise it is considered non-refundable. </li>
									<li>Exchanges within the 30 day return period - Customers placing another order as an exchange of an order or portion of an original order. These customers will only be charged additional shipping charges on any corrective order "if" the replacement order shipping charges are greater than the shipping charges previously billed on the original order. </li>
									<li>ALL other refunds of shipping and handling charges are solely at the discretion of Troy-Bilt.</li>
								</ul>
							</div>
						</li>
					</ul>
					<h2>Billing Information</h2>
					<div class="form-checkbox-shipping">
						<div class="form-input">
							<input type="checkbox" name="ship_bill_same" checked="checked" id="ship-bill-same" value="1" class="block-check">			
							<label class="block-label">Same as Shipping Address</label>
						</div>
					</div>
					<div class="cart-billing-fields hide" id="cart-billing">
						<div class="form-unit">
							<div class="form-input">
								<label for="bill_firstname">*First Name:</label>	
								<input type="text" id="bill_firstname" name="bill_firstname" data-valid="error-bill-firstname">							
							</div>
							<span class="error-field hide" id="error-bill-firstname">First Name is a required field</span>
						</div>
						<div class="form-unit">
							<div class="form-input">
								<label for="bill_lastname">*Last Name:</label>	
								<input type="text" id="bill_lastname" name="bill_lastname" data-valid="error-bill-lastname">							
							</div>
							<span class="error-field hide" id="error-bill-lastname">Last Name is a required field</span>
						</div>
						<div class="form-unit">
							<div class="form-input">
								<label for="bill_address">*Street Address:</label>	
								<input type="text" id="bill_address" name="bill_address" data-valid="error-bill-address" class="related">
							</div>
							<div class="form-input">
								<label for="bill_address2" class="t-hide">Street Address:</label>
								<input type="text" id="bill_address2" name="bill_address2" >			
							</div>				
							<span class="error-field hide" id="error-bill-address">Address is a required field</span>
						</div>
						<div class="form-unit">
							<div class="form-input">
								<label for="bill_city">*City:</label>
								<input type="text" id="bill_city" name="bill_city" data-valid="error-bill-city">
							</div>							
							<span class="error-field hide" id="error-bill-city">City is a required field</span>
						</div>
						<div class="form-unit">
							<div class="form-input">
								<label for="bill_state" class="label-select">*State:</label>
								<select id="bill_state" name="bill_state" data-valid="error-bill-state" >
									<option value="">State</option>
									<option value="AL">Alabama</option>
									<option value="AZ">Arizona</option>
									<option value="AR">Arkansas</option>
									<option value="CA">California</option>
									<option value="CO">Colorado</option>
									<option value="CT">Connecticut</option>
									<option value="DC">DC</option>
									<option value="DE">Delaware</option>
									<option value="FL">Florida</option>
									<option value="GA">Georgia</option>
									<option value="ID">Idaho</option>
									<option value="IL">Illinois</option>
									<option value="IN">Indiana</option>
									<option value="IA">Iowa</option>
									<option value="KS">Kansas</option>
									<option value="KY">Kentucky</option>
									<option value="LA">Louisiana</option>
									<option value="ME">Maine</option>
									<option value="MD">Maryland</option>
									<option value="MA">Massachusetts</option>
									<option value="MI">Michigan</option>
									<option value="MN">Minnesota</option>
									<option value="MS">Mississippi</option>
									<option value="MO">Missouri</option>
									<option value="MT">Montana</option>
									<option value="NE">Nebraska</option>
									<option value="NV">Nevada</option>
									<option value="NH">New Hampshire</option>
									<option value="NJ">New Jersey</option>
									<option value="NM">New Mexico</option>
									<option value="NY">New York</option>
									<option value="NC">North Carolina</option>
									<option value="ND">North Dakota</option>
									<option value="OH">Ohio</option>
									<option value="OK">Oklahoma</option>
									<option value="OR">Oregon</option>
									<option value="PA">Pennsylvania</option>
									<option value="RI">Rhode Island</option>
									<option value="SC">South Carolina</option>
									<option value="SD">South Dakota</option>
									<option value="TN">Tennessee</option>
									<option value="TX">Texas</option>
									<option value="UT">Utah</option>
									<option value="VT">Vermont</option>
									<option value="VA">Virginia</option>
									<option value="WA">Washington</option>
									<option value="WV">West Virginia</option>
									<option value="WI">Wisconsin</option>
									<option value="WY">Wyoming</option>
								</select>
							</div>
							<span class="error-field hide" id="error-bill-state">State is a required field</span>
						</div>
						<div class="form-unit">
							<div class="form-input">
								<label for="bill_zipcode">*Zip Code:</label>			
								<input type="tel" id="bill_zipcode" name="bill_zipcode" data-valid="error-bill-zipcode"  pattern="[\d]{5}" maxlength="5">
							</div>
							<span class="error-field hide" id="error-bill-zipcode">Zip Code is a required field</span>
						</div>
						<div class="form-unit">
							<div class="form-input">
								<label for="bill-phone-complete">*Phone:</label>	
								<div class="phone-fields">
									<input type="tel" id="bill_phone" name="bill_phone" class="field-phone field1" maxlength="3">	
									<input type="tel" id="bill_phone2" name="bill_phone2" class="field-phone field2" maxlength="3">	
									<input type="tel" id="bill_phone3" name="bill_phone3" class="field-phone field3" maxlength="4">
									<input type="tel" name="bill_phone_complete" class="hide hidden-phone" data-valid="error-bill-phone-complete" id="bill-phone-complete" pattern="[\d]{10}">
								</div>
							</div>
							<span class="error-field hide" id="error-bill-phone-complete">Phone is a required field</span>
							<p>
								<span class="field-note">We will only call if there are issues with your order.</span>
							</p>
						</div>	
						<div class="form-unit">
							<div class="form-input">
								<label for="bill_email">*Email Address:</label>	
								<input type="email" id="bill_email" name="bill_email" data-valid="error-bill_email" >
							</div>
							<span class="error-field hide" id="error-bill_email">Email is a required field</span>
						</div>	
					</div>				
					<div class="table cart-options bottom">
						<div class="row">
							<div class="cell verisign middle">
								<img src="/wcpics/MTDPartsMobile/en_US/images/verisign.png" alt="Verisign">
							</div>
							<div class="cell cart-totals">
								<div class="table">
									<div class="row">
										<div class="cell">Item Total:</div>
										<div class="cell">$<% if (@cart_amount) %><%=sprintf("%0.2f", @cart_amount)%> <% end %></div>
									</div>
									<div class="row">
										<div class="cell">Savings:</div>
										<div class="cell">-$12.00</div>
									</div>
									<div class="row border">
										<div class="cell">Shipping:</div>
										<div class="cell">$6.00</div>
									</div>
									<div class="row">
										<div class="cell"><strong>Subtotal:</strong></div>
										<div class="cell"><strong>$<% if (@cart_subamount) %> <%=sprintf("%0.2f",@cart_subamount)%> <% end %></strong></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="continue-pay group"><button class="action red large" type="submit">Continue to Payment</button></div>
					<div class="form-errors user-errors hide">
						<p>Please check your form for the correct information:</p>
						<ul></ul>
						<i class="pictos icon-error"></i>
					</div>
				</form>
			</div>
		</div>
	</div>