<div id="main" role="main">
	<h1>Change Password</h1>
	<!-- Server Side Errors, use html below.
	<div class="form-errors">
		<p>Please correct the following information:</p>
		<ul>
			<li>Please enter your username, it normally is your email address.</li>
			<li>Please enter your password.</li>
		</ul>
	</div>
	-->
	<div class="checkout-block">
		<p>Your password has been successfully updated.</p>
	</div>
</div>