<div id="main" role="main">
	<h1 class="page-title">Contact Us</h1>
	<h3>How may we help you?</h3>
	<p>
		As our valued customer, you have help available right here, any time you need it.
	</p>
	<p>
		<a href="javascript:alert('Link not implemented yet');" rel="nofollow" class="action green faq">Frequently Asked Questions 	<i class="arrow-r pictos icon-arrow-right"></i></a>
	</p>
	<p>
		Touch the button above to view FAQs or submit a question to our dedicated support team.
	</p>		
	<p>
		<a href="tel:1-800-269-6215" rel="nofollow" class="action green call-help"><i class="pictos icon-phone"></i> Need Help? Call 1-800-269-6215</a>
	</p>	
	<p>
		Mon - Fri 8AM-8PM EST<br />
		Sat 9AM-5PM EST<br />
		Closed Sundays
	</p>
</div>