<div id="main" role="main" class="diagnose">
	<div id="search-wrap">
		<form id="search" method="get" action="/diagnose-troubleshoot/search">
			<input type="text" name="q" placeholder="Search Diagnose &amp; Troubleshoot" />
			<button type="submit" class="btn-search pictos"></button>
		</form>
	</div>
	<% if !@page_error.nil? %>
	<div class="page-error">
		<p><%= @page_error %></p>
	</div>	
	<% end %>
	<h1 class="page-title"><%=@category%> <span class="results-description">Common Symptoms</span></h1>
	<ul class="common-symptoms">
		<li>
			<a href="#symptoms-1" title="Engine smokes" class="toggle" data-toggle="symptoms-1">
				<strong class="title">Engine smokes</strong>	
				<i class="pictos icon-circle-plus"></i>	
				<div class="hide" id="symptoms-1">
					<div class="steps table">
						<div class="row">
							<h3 class="cell">Step 1</h3>
							<div class="cell">
								<p>
									<strong>Throttle or choke not in starting position</strong>
									Check operator's manual for correct position for throttle control and choke for starting.
								</p>
							</div>
						</div>
						<div class="row">
							<h3 class="cell">Step 2</h3>
							<div class="cell">
								<p>
									<strong>No fuel in carborator</strong>
									Gasoline tank is empty. Fill tank with fresh gasoline. Fuel line or filter is blocked with dirt or debris. Clean fuel line. Replace filter.
								</p>
							</div>
						</div>
						<div class="row">
							<h3 class="cell">Step 3</h3>
							<div class="cell">
								<p>
									<strong>Spark plug wire disconnected, spark plug fouled or faulty</strong>
									Connect spark plug wire. Check with spark plug tester. Clean and set gap to proper setting. Replace spark plug.
								</p>
							</div>
						</div>
					</div>					
				</div>
			</a>
		</li>
		<li>
			<a href="#symptoms-2" title="Engine overheats" class="toggle" data-toggle="symptoms-2">
				<strong class="title">Engine overheats</strong>	
				<i class="pictos icon-circle-plus"></i>	
				<div class="hide" id="symptoms-2">
					<div class="steps table">
						<div class="row">
							<h3 class="cell">Step 1</h3>
							<div class="cell">
								<p>
									<strong>Throttle or choke not in starting position</strong>
									Check operator's manual for correct position for throttle control and choke for starting.
								</p>
							</div>
						</div>
						<div class="row">
							<h3 class="cell">Step 2</h3>
							<div class="cell">
								<p>
									<strong>No fuel in carborator</strong>
									Gasoline tank is empty. Fill tank with fresh gasoline. Fuel line or filter is blocked with dirt or debris. Clean fuel line. Replace filter.
								</p>
							</div>
						</div>
						<div class="row">
							<h3 class="cell">Step 3</h3>
							<div class="cell">
								<p>
									<strong>Spark plug wire disconnected, spark plug fouled or faulty</strong>
									Connect spark plug wire. Check with spark plug tester. Clean and set gap to proper setting. Replace spark plug.
								</p>
							</div>
						</div>
					</div>					
				</div>
			</a>
		</li>
		<li>
			<a href="#symptoms-3" title="Engine cranks but will not start" class="toggle" data-toggle="symptoms-3">
				<strong class="title">Engine cranks but will not start</strong>	
				<i class="pictos icon-circle-plus"></i>	
				<div class="hide" id="symptoms-3">
					<div class="steps table">
						<div class="row">
							<h3 class="cell">Step 1</h3>
							<div class="cell">
								<p>
									<strong>Throttle or choke not in starting position</strong>
									Check operator's manual for correct position for throttle control and choke for starting.
								</p>
							</div>
						</div>
						<div class="row">
							<h3 class="cell">Step 2</h3>
							<div class="cell">
								<p>
									<strong>No fuel in carborator</strong>
									Gasoline tank is empty. Fill tank with fresh gasoline. Fuel line or filter is blocked with dirt or debris. Clean fuel line. Replace filter.
								</p>
							</div>
						</div>
						<div class="row">
							<h3 class="cell">Step 3</h3>
							<div class="cell">
								<p>
									<strong>Spark plug wire disconnected, spark plug fouled or faulty</strong>
									Connect spark plug wire. Check with spark plug tester. Clean and set gap to proper setting. Replace spark plug.
								</p>
							</div>
						</div>
					</div>					
				</div>
			</a>
		</li>
		<li>
			<a href="#symptoms-4" title="Engine will not crank" class="toggle" data-toggle="symptoms-4">
				<strong class="title">Engine will not crank</strong>	
				<i class="pictos icon-circle-plus"></i>	
				<div class="hide" id="symptoms-4">
					<div class="steps table">
						<div class="row">
							<h3 class="cell">Step 1</h3>
							<div class="cell">
								<p>
									<strong>Throttle or choke not in starting position</strong>
									Check operator's manual for correct position for throttle control and choke for starting.
								</p>
							</div>
						</div>
						<div class="row">
							<h3 class="cell">Step 2</h3>
							<div class="cell">
								<p>
									<strong>No fuel in carborator</strong>
									Gasoline tank is empty. Fill tank with fresh gasoline. Fuel line or filter is blocked with dirt or debris. Clean fuel line. Replace filter.
								</p>
							</div>
						</div>
						<div class="row">
							<h3 class="cell">Step 3</h3>
							<div class="cell">
								<p>
									<strong>Spark plug wire disconnected, spark plug fouled or faulty</strong>
									Connect spark plug wire. Check with spark plug tester. Clean and set gap to proper setting. Replace spark plug.
								</p>
							</div>
						</div>
					</div>					
				</div>
			</a>
		</li>
		<li>
			<a href="#symptoms-5" title="Engine vibration" class="toggle" data-toggle="symptoms-5">
				<strong class="title">Engine vibration</strong>	
				<i class="pictos icon-circle-plus"></i>	
				<div class="hide" id="symptoms-5">
					<div class="steps table">
						<div class="row">
							<h3 class="cell">Step 1</h3>
							<div class="cell">
								<p>
									<strong>Throttle or choke not in starting position</strong>
									Check operator's manual for correct position for throttle control and choke for starting.
								</p>
							</div>
						</div>
						<div class="row">
							<h3 class="cell">Step 2</h3>
							<div class="cell">
								<p>
									<strong>No fuel in carborator</strong>
									Gasoline tank is empty. Fill tank with fresh gasoline. Fuel line or filter is blocked with dirt or debris. Clean fuel line. Replace filter.
								</p>
							</div>
						</div>
						<div class="row">
							<h3 class="cell">Step 3</h3>
							<div class="cell">
								<p>
									<strong>Spark plug wire disconnected, spark plug fouled or faulty</strong>
									Connect spark plug wire. Check with spark plug tester. Clean and set gap to proper setting. Replace spark plug.
								</p>
							</div>
						</div>
					</div>					
				</div>
			</a>
		</li>
		<li>
			<a href="#symptoms-6" title="Mower discharges, bags or mulches grass poorly" class="toggle" data-toggle="symptoms-6">
				<strong class="title">Mower discharges, bags or mulches grass poorly</strong>	
				<i class="pictos icon-circle-plus"></i>	
				<div class="hide" id="symptoms-6">
					<div class="steps table">
						<div class="row">
							<h3 class="cell">Step 1</h3>
							<div class="cell">
								<p>
									<strong>Throttle or choke not in starting position</strong>
									Check operator's manual for correct position for throttle control and choke for starting.
								</p>
							</div>
						</div>
						<div class="row">
							<h3 class="cell">Step 2</h3>
							<div class="cell">
								<p>
									<strong>No fuel in carborator</strong>
									Gasoline tank is empty. Fill tank with fresh gasoline. Fuel line or filter is blocked with dirt or debris. Clean fuel line. Replace filter.
								</p>
							</div>
						</div>
						<div class="row">
							<h3 class="cell">Step 3</h3>
							<div class="cell">
								<p>
									<strong>Spark plug wire disconnected, spark plug fouled or faulty</strong>
									Connect spark plug wire. Check with spark plug tester. Clean and set gap to proper setting. Replace spark plug.
								</p>
							</div>
						</div>
					</div>					
				</div>
			</a>
		</li>
		<li>
			<a href="#symptoms-7" title="Mower will not cut in reverse" class="toggle" data-toggle="symptoms-7">
				<strong class="title">Mower will not cut in reverse</strong>	
				<i class="pictos icon-circle-plus"></i>	
				<div class="hide" id="symptoms-7">
					<div class="steps table">
						<div class="row">
							<h3 class="cell">Step 1</h3>
							<div class="cell">
								<p>
									<strong>Throttle or choke not in starting position</strong>
									Check operator's manual for correct position for throttle control and choke for starting.
								</p>
							</div>
						</div>
						<div class="row">
							<h3 class="cell">Step 2</h3>
							<div class="cell">
								<p>
									<strong>No fuel in carborator</strong>
									Gasoline tank is empty. Fill tank with fresh gasoline. Fuel line or filter is blocked with dirt or debris. Clean fuel line. Replace filter.
								</p>
							</div>
						</div>
						<div class="row">
							<h3 class="cell">Step 3</h3>
							<div class="cell">
								<p>
									<strong>Spark plug wire disconnected, spark plug fouled or faulty</strong>
									Connect spark plug wire. Check with spark plug tester. Clean and set gap to proper setting. Replace spark plug.
								</p>
							</div>
						</div>
					</div>					
				</div>
			</a>
		</li>
	</ul>
</div>