<div id="main" role="main" class="diagnose">
	<div id="search-wrap">
		<form id="search" method="get" action="/diagnose-troubleshoot/search">
			<input type="text" name="q" placeholder="Search Diagnose &amp; Troubleshoot" />
			<button type="submit" class="btn-search pictos"></button>
		</form>
	</div>
	<% if !@page_error.nil? %>
	<div class="page-error">
		<p><%= @page_error %></p>
	</div>	
	<% end %>
	<h1 class="page-title">Diagnose &amp; Troubleshoot</h1>
	<nav class="drill-down">
		<ul>
			<% @categories.each do |k, v| %>
			<li><a href="/diagnose-troubleshoot/<%= k %>" title="<%= v %>">
				<span class="machines nav-<%= k%>"></span>
				<%= v %> 
				<i class="arrow-r pictos icon-arrow-right"></i></a></li>
			<% end %>
		</ul>
	</nav>
</div>