<div id="main" role="main">
	<h1 class="page-title">Special Offer</h1>
	<div class="espot">
		<img data-img="/wcpics/MTDPartsMobile/en_US/images/espot-b.jpg" data-img-hd="/wcpics/MTDPartsMobile/en_US/images/espot-b@2x.jpg" class="lazy-load">
	</div>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas pretium mattis risus, sit amet vestibulum turpis accumsan non. Aliquam erat volutpat. 
	</p>
	<p>
		<a href="/find-parts" title="Shop For Parts" class="action red">Shop For Parts Now</a>
	</p>
</div>