<div id="main" role="main">
	<% if @part_not_found %>
	<div class="page-error">
		We could not find a part with <strong>#<%= params[:part_number] %></strong>. Please make sure you entered the correct part number.
	</div>	
	<% end %>
	<% if @part_number_missing %>
	<div class="page-error">
		Please enter a part number.
	</div>	
	<% end %>
		<div id="part-finder-widget">
			<h1>Part Finder</h1>
			<form class="part-finder-form validate" method="post" action="/find-parts" novalidate>
				<div class="form-unit cell">
					<div class="form-input">
						<label for="part-number">Know Your Part Number?</label>
						<input type="text" id="part-number" name="part_number" required data-valid="error-part-number" placeholder="Enter Part #"> 
						<button class="action red go">GO</button>
					</div>
					<span class="error-field hide" id="error-part-number">Part Number is a required field</span>
				</div>
				<h3>Need Help Ordering Parts?</h3>
				<a href="tel:1-800-269-6215" rel="nofollow" class="action red call-support"><i class="pictos icon-phone"></i> Call 1-800-269-6215</a>
				<p class="hours">Mon - Fri 8AM - 8PM EST  <span>Sat 9AM - 5PM EST</span></p>
			</form>	
		</div>
	<div id="slider">
	  <ul>
	    <li style="display:block;position:relative;">
				<a href="/my-products" title="My Products">
					<img data-img="/wcpics/MTDPartsMobile/en_US/images/espot-a.jpg" data-img-hd="/wcpics/MTDPartsMobile/en_US/images/espot-a@2x.jpg" class="slider-img">
					<noscript>
						<img src="/wcpics/MTDPartsMobile/en_US/images/espot-a.jpg">
					</noscript>
				</a>
			</li>
			<li style="display:none;position:relative;">
				<a href="/espot-ad" title="Free Shipping">
					<img data-img="/wcpics/MTDPartsMobile/en_US/images/espot-b.jpg" data-img-hd="/wcpics/MTDPartsMobile/en_US/images/espot-b@2x.jpg" class="slider-img">
					<noscript>
						<img src="/wcpics/MTDPartsMobile/en_US/images/espot-b.jpg">
					</noscript>
				</a>
			</li>
			<li style="display:none;position:relative;">
				<a href="/find-parts" title="10% Off Parts">
					<img data-img="/wcpics/MTDPartsMobile/en_US/images/espot-c.jpg" data-img-hd="/wcpics/MTDPartsMobile/en_US/images/espot-c@2x.jpg" class="slider-img">
					<noscript>
						<img src="/wcpics/MTDPartsMobile/en_US/images/espot-c.jpg">
					</noscript>
				</a>
			</li> 
	  </ul>			
	</div>
	<nav id="slider-nav">
		<ul>
			<li id="slider-pos">
				<span id="slider-bullets"></span>
			</li>
		</ul>
	</nav>
</div>