<div id="main" role="main" class="form-block">
	<% if @page_message %>
		<h2>Password has been reset.</h2>
		<div class="page-message">
			Your temporary password has been sent to:<br /> <strong><%= params[:email] %></strong>
		</div>
	<% else %>
		<h2>Forgot your password?</h2>
		<p>	
			Type your email address in the field below to receive your password by email.
		</p>
		<% if @from == 'cart' %>
		<p>
			If you do not have an account, please <strong>continue as a guest</strong> and you will be able to create one.
		</p>
		<% end %>
		<form action="/forgot-password" method="post" class="form-forgot-password validate" name="form_forgot_password" novalidate>
			<div class="form-unit">
				<div class="form-input">
					<label for="email">Email Address</label>
					<input type="email" id="email" name="email" required data-valid="error-email">
				</div>
				<span class="error-field hide" id="error-email">Please enter a valid email (must contain an "@" and ".")</span>
			</div>
			<p class="button-set">
				<button type="submit" class="action red send-password">Send Password</button>
				<% if @from == 'cart' %>
				<span class="inline-or">OR</span> 
				<a href="/cart/checkout/shipping" class="action grey continue-guest">Continue As Guest</a>
				<% end %>
			</p>
		</form>
	<% end %>
</div>