<div id="main" role="main">
	<h1 class="article-title">How to Change the Mower Deck on a Riding Lawn Mower <span class="timecode">3:21</span></h1>
	<div class="inline-video">
		<a href="http://www.youtube.com/watch?v=u-GPY4guh0w" title="How to Change the Air Filter on a Troy-Bilt Edger">
			<img src="http://i2.ytimg.com/vi/u-GPY4guh0w/hqdefault.jpg">
			<span class="video-overlay">&nbsp;</span>
		</a>
	</div>
	<p>
		Over time, the belts on your MTD riding lawn mower can wear. Changing your mower deck belt as necessary, will help keep your machine running at its peak.
	</p>
	<p>
		Before you change your mower belt, confirm that the part number for the replacement you purchased matches the one listed in the ”replacement parts” section of your MTD lawn mower manual. 
	</p>
	<p>
		Always use Genuine Factory riding lawn mower parts, as they are specifically designed for your machine and will help maximize its performance. Keep in mind that the instructions for changing your mower deck belt may be slightly different for your model.
	</p>
	<h2 class="instructions">Instructions</h2>
	<div class="steps table">
		<div class="row">
			<h3 class="cell">Step 1</h3>
			<div class="cell">
		    <p>
					<strong>Prevent unintentional starting</strong>
					Before you change the mower belt, turn of
					the engine, remove the ignition key and
					disconnect the spark plug wire(s) to prevent
					accidental starting while you’re working.
				</p>
			</div>
		</div>	
		<div class="row">
			<h3 class="cell">Step 2</h3>
			<div class="cell">
		    <p>
					<strong>Adjust the deck height</strong>
					Adjust the deck on your riding lawn
					mower to the lowest position by mowing
					the deck lever.
				</p>
			</div>
		</div>	
		<div class="row">
			<h3 class="cell">Step 3</h3>
		  <div class="cell">
				<p>
					<strong>Take of the mower deck belt guards</strong>
					Remove the mower deck belt guards by
					taking out the screws that secure them
					to the deck.
				</p>
			</div>
		</div>
		<div class="row">
			<h3 class="cell">Step 4</h3>
		  <div class="cell">
				<p>
					<strong>Take off the belt-keep rod</strong>
					Remove the belt-keeper rod from around
					the engine pulley.
				</p>
			</div>
		</div>
	</div>
	<a href="#" class="back-to-top action grey"><i class="pictos icon-up"></i> Top</a>
	<a href="javascript:alert('Link Not Implemented');" title="Share" class="action grey share">Share</a>
	<div id="search-wrap" class="bottom">
		<form id="search" method="get" action="/knowledge-center/search">
			<input type="text" name="q" placeholder="Search Knowledge Center" />
			<button type="submit" class="btn-search pictos"></button>
		</form>
	</div>
</div>