<div id="main" role="main">
	<div id="search-wrap">
		<form id="search" method="get" action="/knowledge-center/search">
			<input type="text" name="q" placeholder="Search Knowledge Center" />
			<button type="submit" class="btn-search pictos"></button>
		</form>
	</div>
	<% if @page_error %>
	<div class="page-error">
		<p>Your search for "<strong><%= params["q"] %></strong>" did not return any results. Try a new search or browse through the categories below.</p>
	</div>	
	<% end %>
	<h1 class="page-title">Knowledge Center</h1>
	<nav class="drill-down">
		<ul>
			<% @categories.each do |k, v| %>
			<li><a href="/knowledge-center/<%= k %>" title="<%= v["name"] %>"><%= v["name"] %> <i class="arrow-r pictos icon-arrow-right"></i></a></li>
			<% end %>
		</ul>
	</nav>
</div>