<div id="main" role="main">
	<h1 class="article-title">The Basics of Lawn Fertilization</h1>
	<h2>When to fertilize your lawn</h2>
	<p>
		Timing is key to successful lawn fertilization. You should apply fertilizer during the growing season, as fertilizing dormant lawn can promote weak growth. If you have cool-season grass, such as bluegrass, ryegrass or fescue, fall is an ideal time to fertilize your lawn. The nutrient boost will help your grass recover from the summer, prepare it for the winter and come back earlier and stronger in the spring.
	</p>
	<p>
		Another important aspect of timing your lawn fertilization is ensuring you leave enough time between treatments. Different types of fertilizers release nutrients over different periods of time. Fertilizing a lawn before a previous application is complete can lead to over-fertilization, which can burn your grass.
	</p>
	<h2>Types of fertilizer</h2>
	<p>
		Understanding fertilizer ingredients and how they work will help you choose the right mixture for your lawn. Most fertilizers contain three main elements: nitrogen, phosphorous and potassium. Nitrogen plays the biggest role in your grass’s growth and green color and is the most important element to apply during your fall lawn fertilization. Phosphorous helps establish and strenghten root systems, while potassium makes lawns more resistant to a variety of stresses, including drought, cold, disease and traffic. Blends high in phosphorous and potassium are often used for fertilizing a new lawn or renovating an old one
	</p>
	<a href="#" class="back-to-top action grey"><i class="pictos icon-up"></i> Top</a>
	<a href="javascript:alert('Link Not Implemented');" title="Share" class="action grey share">Share</a>
	<div id="search-wrap" class="bottom">
		<form id="search" method="get" action="/knowledge-center/search">
			<input type="text" name="q" placeholder="Search Knowledge Center" />
			<button type="submit" class="btn-search pictos"></button>
		</form>
	</div>
</div>