<div id="main" role="main">
	<div id="search-wrap">
		<form id="search" method="get" action="/knowledge-center/search">
			<input type="text" name="q" placeholder="Search Knowledge Center" />
			<button type="submit" class="btn-search pictos"></button>
		</form>
	</div>
	<h1 class="page-title"><%= @category["name"] %></h1>
	<!--
	<div class="paging table">
		<div class="row">
			<a href="javascript:alert('Link Not Implemented');" title="Prev" class="cell">Prev</a>
			<div class="page cell">
				<span>2 of 3</span>
			</div>
			<a href="javascript:alert('Link Not Implemented');" title="Next" class="cell">Next</a>			
		</div>
	</div>-->
	<ul class="doc-list">
		<li>
			<a href="/knowledge-center/<%= params[:category] %>/video-step-by-step" class="video"><i class="pictos icon-movie"></i>How to Change the Mower Deck belt on a Riding Lawn Mower</a>
		</li>
		<li>
			<a href="/knowledge-center/<%= params[:category] %>/video-step-by-step" class="video"><i class="pictos icon-movie"></i>How to Change a Mower Wheel on a Self-Propelled Lawn Mower</a>
		</li>
		<li>
			<a href="/knowledge-center/<%= params[:category] %>/article-step-by-step" class="document"><i class="pictos icon-doc"></i>How to Clean a Clogged Snowblower Chute</a>
		</li>
		<li>
			<a href="/knowledge-center/<%= params[:category] %>/article-table" class="article"><i class="pictos icon-doc"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do elusmod</a>
		</li>
		<li>
			<a href="/knowledge-center/<%= params[:category] %>/video-step-by-step" class="video"><i class="pictos icon-movie"></i>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do elusmod </a>
		</li>
		<li>
			<a href="/knowledge-center/<%= params[:category] %>/article" class="document"><i class="pictos icon-doc"></i>Lorem ipsum dolor sit amet, consectetur </a>
		</li>
	</ul>
</div>