<div id="main" role="main">
	<h1 class="article-title">How to Clean a Clogged Snowblower</h1>
	<p>
		WARNING! Never use your hands to clear a clogged snowblower chute assembly. Shut off engine and remain behind handles until all moving parts have stopped before unclogging.
		In most cases, the snowblower’s chute snow clearing tool is conveniently fastened to the rear of the auger housing with a mounting clip. Should ice and snow become lodged in the chute assembly during operation, follow these snowblower maintenance tips to safely clean the chute assembly and chute opening.
	</p>
	<p>
		<a href="#">Purchase a chute clean-out tool</a>
	</p>	
	<h2 class="instructions">Instructions</h2>
	<div class="steps table">
		<div class="row">
			<h3 class="cell">Step 1</h3>
			<div class="cell">
				<p>
					<strong>Stop the snowblower’s motion</strong>
					Release both the Auger Control and the 
					Drive Control.
				</p>
			</div>
		</div>
		<div class="row">
			<h3 class="cell">Step 2</h3>
			<div class="cell">
				<p>
					<strong>Turn off the engine</strong>
					Stop the engine by removing the
					ignition key.
				</p>
			</div>
		</div>
		<div class="row">
			<h3 class="cell">Step 3</h3>
			<div class="cell">
				<p>
					<strong>Locate the snow clearing tool</strong>
					Remove the snow clearing tool from the clip
					which secures it to the rear of the auguer
					housing (location may vary by model).
				</p>
			</div>
		</div>
	</div>
	<a href="#" class="back-to-top action grey"><i class="pictos icon-up"></i> Top</a>
	<a href="javascript:alert('Link Not Implemented');" title="Share" class="action grey share">Share</a>
	<div id="search-wrap" class="bottom">
		<form id="search" method="get" action="/knowledge-center/search">
			<input type="text" name="q" placeholder="Search Knowledge Center" />
			<button type="submit" class="btn-search pictos"></button>
		</form>
	</div>
</div>