<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<title>MTD Parts Mobile</title>
	<meta name="HandheldFriendly" content="true" />
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,initial-scale=1.0" />
	<meta http-equiv="cleartype" content="on" />
	<script>
/* Fix for Android 2.1 reporting false positive support for font-face */
if (navigator.userAgent.indexOf('Android 2.1') > 0) { document.documentElement.className += ' no-fontface'; }

/* Modernizr 2.5.3 (Custom Build) | MIT & BSD
 * Build: http://www.modernizr.com/download/#-fontface-cssanimations-generatedcontent-csstransforms-csstransforms3d-csstransitions-history-indexeddb-localstorage-geolocation-touch-cssclasses-teststyles-testprop-testallprops-prefixes-domprefixes
 */
;window.Modernizr=function(a,b,c){function A(a){j.cssText=a}function B(a,b){return A(n.join(a+";")+(b||""))}function C(a,b){return typeof a===b}function D(a,b){return!!~(""+a).indexOf(b)}function E(a,b){for(var d in a)if(j[a[d]]!==c)return b=="pfx"?a[d]:!0;return!1}function F(a,b,d){for(var e in a){var f=b[a[e]];if(f!==c)return d===!1?a[e]:C(f,"function")?f.bind(d||b):f}return!1}function G(a,b,c){var d=a.charAt(0).toUpperCase()+a.substr(1),e=(a+" "+p.join(d+" ")+d).split(" ");return C(b,"string")||C(b,"undefined")?E(e,b):(e=(a+" "+q.join(d+" ")+d).split(" "),F(e,b,c))}var d="2.5.3",e={},f=!0,g=b.documentElement,h="modernizr",i=b.createElement(h),j=i.style,k,l=":)",m={}.toString,n=" -webkit- -moz- -o- -ms- ".split(" "),o="Webkit Moz O ms",p=o.split(" "),q=o.toLowerCase().split(" "),r={},s={},t={},u=[],v=u.slice,w,x=function(a,c,d,e){var f,i,j,k=b.createElement("div"),l=b.body,m=l?l:b.createElement("body");if(parseInt(d,10))while(d--)j=b.createElement("div"),j.id=e?e[d]:h+(d+1),k.appendChild(j);return f=["&#173;","<style>",a,"</style>"].join(""),k.id=h,m.innerHTML+=f,m.appendChild(k),l||(m.style.background="",g.appendChild(m)),i=c(k,a),l?k.parentNode.removeChild(k):m.parentNode.removeChild(m),!!i},y={}.hasOwnProperty,z;!C(y,"undefined")&&!C(y.call,"undefined")?z=function(a,b){return y.call(a,b)}:z=function(a,b){return b in a&&C(a.constructor.prototype[b],"undefined")},Function.prototype.bind||(Function.prototype.bind=function(b){var c=this;if(typeof c!="function")throw new TypeError;var d=v.call(arguments,1),e=function(){if(this instanceof e){var a=function(){};a.prototype=c.prototype;var f=new a,g=c.apply(f,d.concat(v.call(arguments)));return Object(g)===g?g:f}return c.apply(b,d.concat(v.call(arguments)))};return e});var H=function(c,d){var f=c.join(""),g=d.length;x(f,function(c,d){var f=b.styleSheets[b.styleSheets.length-1],h=f?f.cssRules&&f.cssRules[0]?f.cssRules[0].cssText:f.cssText||"":"",i=c.childNodes,j={};while(g--)j[i[g].id]=i[g];e.touch="ontouchstart"in a||a.DocumentTouch&&b instanceof DocumentTouch||(j.touch&&j.touch.offsetTop)===9,e.csstransforms3d=(j.csstransforms3d&&j.csstransforms3d.offsetLeft)===9&&j.csstransforms3d.offsetHeight===3,e.generatedcontent=(j.generatedcontent&&j.generatedcontent.offsetHeight)>=1,e.fontface=/src/i.test(h)&&h.indexOf(d.split(" ")[0])===0},g,d)}(['@font-face {font-family:"font";src:url("https://")}',["@media (",n.join("touch-enabled),("),h,")","{#touch{top:9px;position:absolute}}"].join(""),["@media (",n.join("transform-3d),("),h,")","{#csstransforms3d{left:9px;position:absolute;height:3px;}}"].join(""),['#generatedcontent:after{content:"',l,'";visibility:hidden}'].join("")],["fontface","touch","csstransforms3d","generatedcontent"]);r.touch=function(){return e.touch},r.geolocation=function(){return!!navigator.geolocation},r.indexedDB=function(){return!!G("indexedDB",a)},r.history=function(){return!!a.history&&!!history.pushState},r.cssanimations=function(){return G("animationName")},r.csstransforms=function(){return!!G("transform")},r.csstransforms3d=function(){var a=!!G("perspective");return a&&"webkitPerspective"in g.style&&(a=e.csstransforms3d),a},r.csstransitions=function(){return G("transition")},r.fontface=function(){return e.fontface},r.generatedcontent=function(){return e.generatedcontent},r.localstorage=function(){try{return localStorage.setItem(h,h),localStorage.removeItem(h),!0}catch(a){return!1}};for(var I in r)z(r,I)&&(w=I.toLowerCase(),e[w]=r[I](),u.push((e[w]?"":"no-")+w));return A(""),i=k=null,e._version=d,e._prefixes=n,e._domPrefixes=q,e._cssomPrefixes=p,e.testProp=function(a){return E([a])},e.testAllProps=G,e.testStyles=x,g.className=g.className.replace(/(^|\s)no-js(\s|$)/,"$1$2")+(f?" js "+u.join(" "):""),e}(this,this.document);
	</script>
	<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/wcpics/MTDPartsMobile/en_US/images/apple-touch-icon-114x114-precomposed.png">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/wcpics/MTDPartsMobile/en_US/images/apple-touch-icon-72x72-precomposed.png">
	<link rel="apple-touch-icon-precomposed" href="/wcpics/MTDPartsMobile/en_US/images/apple-touch-icon-precomposed.png">	
	<link rel="shortcut icon" href="/wcpics/MTDPartsMobile/en_US/images/apple-touch-icon.png" />
	<% if (@serve_minified) %>
	<link rel="stylesheet" href="/wcsstore/MTDPartsMobile/style.min.css?10182012">
	<% else %>	
	<link rel="stylesheet" href="/wcsstore/MTDPartsMobile/css/style.css">
	<% end %>
</head>
<body class="<%=@page%>" id="<%=@page%>">
<div id="site-wrap">
<div id="container">
	<section id="panel-menu" class="panel panel-hide">
		<header>
			<nav class="nav-bar">
				<ul class="group">
					<li class="main-menu col"><span id="btn-menu-back" class="btn"></span></li>
					<li class="nav-title col">Menu</li>
				</ul>
			</nav>
		</header>
		<div class="menu-list">
			<nav class="drill-down">
				<ul>
					<li><a href="/find-parts" title="Part Finder">Part Finder <i class="arrow-r pictos icon-arrow-right"></i></a></li>
					<li><a href="/knowledge-center" title="Knowledge Center">Knowledge Center <i class="arrow-r pictos icon-arrow-right"></i></a></li>
					<li><a href="/products" title="Accessories &amp; Attachments">Accessories &amp; Attachments <i class="arrow-r pictos icon-arrow-right"></i></a></li>
					<li><a href="/products" title="Equipment Outlet">Equipment Outlet <i class="arrow-r pictos icon-arrow-right"></i></a></li>
					<li><a href="/diagnose-troubleshoot" title="Diagnose &amp; Troubleshoot">Diagnose &amp; Troubleshoot <i class="arrow-r pictos icon-arrow-right"></i></a></li>
					<li><a href="/orders" title="Track Order">Track Order <i class="arrow-r pictos icon-arrow-right"></i></a></li>
					<li><a href="/manuals" title="Operator's Manual">Operator's Manuals <i class="arrow-r pictos  icon-arrow-right"></i></a></li>
					<li><a href="/my-account" title="My Account">My Account <i class="arrow-r pictos icon-arrow-right"></i></a></li>
					<li><a href="/my-products" title="My Products">My Products <i class="arrow-r pictos icon-arrow-right"></i></a></li>
					<li><a href="/sign-in" title="Sign In">Sign In <i class="arrow-r pictos icon-arrow-right"></i></a></li>
				</ul>
			</nav>
			<nav id="sec-nav">
				<ul class="group">
					<li class="col"><a href="/contact" title="Contact Us">Contact Us</a></li>
					<li class="col mid"><a href="/service-locator" title="Service Locator">Service Locator</a></li>
					<li class="col"><a href="/products/register" title="Register Product">Register Product</a></li>
					<li class="col"><a href="/about" title="About Us">About Us</a></li>
					<li class="col mid"><a href="#" title="View Full Site">View Full Site</a></li>
					<li class="col"><a href="/privacy" title="Privacy Policy">Privacy Policy</a></li>
				</ul>
			</nav>
		</div>
	</section>
	<section id="panel-content" class="panel panel-show">
		<header id="main-header">
			<nav class="nav-bar">
				<ul class="group">
					<li class="main-menu col"><span id="btn-menu" class="btn">Menu</span></li>
					<li class="cart-menu col">
						<span id="btn-cart" class="btn">
							<i id="cart-icon" class="pictos<% if @cart_items == 0 %> empty<% end %>"></i>
							<% if @cart_items != 0 %>
							<span class="cart-items"><%=@cart_items%></span>
							<% end %>
						</span>
					</li>
				</ul>
			</nav>
			<div class="logo-wrap">
				<a href="/" id="logo" title="MTD Genuine Parts">MTD Genuine Parts</a>
			</div>
		</header>	
		<%= yield %>	
		<footer>
			<div id="footer-content" class="group">
				<p>Copyright MTD <%= Time.now.year %></p>
				<span class="phone">
					<a href="tel:1-800-269-6215" rel="nofollow">1-800-269-6215</a>
				</span>
			</div>
		</footer>
	</section> 
	<section id="panel-cart" class="panel products-list panel-hide">
		<%=erb :cart %>
	</section>
</div>
</div>
<%=erb :inline_swipe_js %>
<script>
document.write('<script src=' +
('__proto__' in {} ? '/wcsstore/MTDPartsMobile/javascript/libs/zepto.min' : '/wcsstore/MTDPartsMobile/javascript/libs/jquery-1.7.2.min') +
'.js><\/script>')
</script>
<% if (@serve_minified) %>
<script src="/wcsstore/MTDPartsMobile/mtdpartsmobile.min.js?10182012"></script>
<% else %>	
<script src="/wcsstore/MTDPartsMobile/javascript/mtdpartsmobile.js"></script>
<% end %>

<script>
/*! Normalized address bar hiding for iOS & Android (c) @scottjehl MIT License */
(function(win){var doc=win.document;if(!location.hash&&win.addEventListener){window.scrollTo(0,1);var scrollTop=1,getScrollTop=function(){return win.pageYOffset||doc.compatMode==="CSS1Compat"&&doc.documentElement.scrollTop||doc.body.scrollTop||0},bodycheck=setInterval(function(){if(doc.body){clearInterval(bodycheck);scrollTop=getScrollTop();win.scrollTo(0,scrollTop===1?0:1)}},15);win.addEventListener("load",function(){setTimeout(function(){if(getScrollTop()<20){win.scrollTo(0,scrollTop===1?0:1)}},0)})}})(this);
</script>
</body>
</html>		