<div id="main" role="main" class="operator-manuals">
	<h1 class="page-title">OPERATOR’S MANUALS</h1>
	<!-- Use below for displaying server error messages stemming from user input 
	<div class="form-errors">
		<p>Please correct the following information:</p>
		<ul>
			<li>Model number is in an invalid format.</li>			
		</ul>
		<i class="pictos icon-error"></i>
	</div> -->
	<div class="form-block manuals">
		<form action="/manuals/results" method="post" class="validate" novalidate>
			<p>
				Disclaimer: Not all manuals will be available for all products.
			</p>
			<h2>Know your model #?</h2>
			<div class="form-unit">
				<div class="form-input">
					<label for="brand">Select Brand</label>
					<select name="brand" id="brand" required data-valid="error-brand">
						<option value="Bolens">Bolens</option>
					</select>
				</div>
				<span class="error-field hide" id="error-brand">Brand is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="model-number">Model Number</label>
					<input type="text" name="model_number" id="model-number" required data-valid="error-model-number" value="">
				</div>
				<span class="error-field hide" id="error-model-number">Model Number is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="serial-number">Serial Number</label>
					<input type="text" name="serial_number" id="serial-number" value="">
				</div>
			</div>
			<p>
				<button class="action red" type="submit">Get Manual</button>
			</p>
			<div class="form-errors user-errors hide">
				<p>Please check your form for the correct information:</p>
				<ul></ul>
				<i class="pictos icon-error"></i>
			</div>
		</form>
		<h2 class="image-description">Don’t know your model #?</h2>
		<p>
			<img src="/wcpics/MTDPartsMobile/en_US/images/mtd-label.jpg" alt="Serial Number Pic" class="tag-sample" />
		</p>
		<p>
			<a href="/locate-model" class="action grey locate-model">Locate Your Model #</a>
		</p>						
		<p>
			<strong>Business Hours:</strong><br />
			Mon - Fri 8AM - 6PM EST<br />
			Sat 9AM - 5PM EST
		</p>
		<a href="tel:1-800-828-5500" rel="nofollow" class="action green call-help"><i class="icon-phone pictos"></i> Need Help? Call 1-800-828-5500</a>
	</div>
</div>