<div id="main" role="main">
	<h1 class="page-title">SEARCH RESULTS</h1>
	<ul class="manual-results">
		<li>
			<h3><i class="pictos icon-doc"></i> Model 41AB190C034 <span class="description">TRACTOR:38SD 1250SERIES 2STY</span></h3>
			<div class="manual">
				<p>
					<strong>Manual:</strong> RM193BVT:ELECT BLO-VAC<br />
					<strong>Form:</strong> 275935
				</p>
				<p class="button-set">
					<a href="/manuals/275935" class="action grey">Web version</a>
					<a href="/manuals/275935" class="action grey">PDF</a>
				</p>
			</div>
			<div class="manual">
				<p>
					<strong>Manual:</strong> GDE:IPL:760/770 Series<br />
					<strong>Form:</strong> 769-01612
				</p>
				<p class="button-set">
					<a href="/manuals/769-01612" class="action grey">Web version</a>
					<a href="/manuals/769-01612" class="action grey">PDF</a>
				</p>
			</div>
		</li>
		<li>
			<h3><i class="pictos icon-doc"></i> Model 41AB190C034 <span class="description">TRACTOR:38SD 1250SERIES 2STY</span></h3>
			<div class="manual">
				<p>
					<strong>Manual:</strong> RM193BVT:ELECT BLO-VAC<br />
					<strong>Form:</strong> 275935
				</p>
				<p class="button-set">
					<a href="/manuals/275935" class="action grey">Web version</a>
					<a href="/manuals/275935" class="action grey">PDF</a>
				</p>
			</div>
			<div class="manual">
				<p>
					<strong>Manual:</strong> GDE:IPL:760/770 Series<br />
					<strong>Form:</strong> 769-01612
				</p>
				<p class="button-set">
					<a href="/manuals/275935" class="action grey">Web version</a>
					<a href="/manuals/275935" class="action grey">PDF</a>
				</p>
			</div>
		</li>
	</ul>
</div>