<div id="main" role="main" class="update-account">
	<h1 class="page-title">UPDATE ACCOUNT</h1>
	<ul class="account-list">
		<li>
			<span class="expand">Update Personal Information <i class="plus-r pictos icon-circle-plus"></i></span>
			<div class="account-form">
				<form action="/my-account/update" method="post" class="validate account-update" novalidate>
					<div class="form-unit">
						<div class="form-input">
							<label for="firstname">First Name</label>
							<input type="text" name="firstname" id="firstname" required data-valid="error-firstname" value="">
						</div>
						<span class="error-field hide" id="error-firstname">First Name is a required field</span>
					</div>
					<div class="form-unit">
						<div class="form-input">
							<label for="lastname">Last Name</label>
							<input type="text" name="lastname" id="lastname" value="">
						</div>
					</div>
					<div class="form-unit">
						<div class="form-input">
							<label for="zipcode">Zip Code:</label>						
							<input type="tel" name="zipcode" id="zipcode" data-valid="error-zipcode" value="" pattern="[\d]{5}" maxlength="5">		
						</div>					
						<span class="error-field hide" id="error-zipcode"></span>
					</div>
					<a href="/my-account" class="action grey large cancel">Cancel</a> 
					<button class="action red large update-info" type="submit">Update Information</button>
					<div class="form-errors user-errors hide">
						<p>Please check your form for the correct information:</p>
						<ul></ul>
						<i class="pictos icon-error"></i>
					</div>
				</form>
			</div>
		</li>
		<li>
			<span class="expand">Change Email Address <i class="plus-r pictos icon-circle-plus"></i></span>
			<div class="account-form">
				<p>
					Current Email: <span class="current-email">kim@mtdproducts.com</span>
				</p>
				<form action="/my-account/update" method="post" class="validate account-create" novalidate>
					<div class="form-unit">
						<div class="form-input">
							<label for="email">New Email</label>	
							<input type="email" name="email" id="email" required data-valid="error-email" value="">
						</div>
						<span class="error-field hide" id="error-email">Email is a required field</span>
					</div>
					<div class="form-unit">
						<div class="form-input">
							<label for="email-confirm">Confirm New Email</label>	
							<input type="email" name="confirm_email" id="email-confirm" required data-valid="error-confirm-email" value="">
						</div>
						<span class="error-field hide" id="error-confirm-email">Email Confirmation is a required field</span>
						<span class="error-field hide user-email-match">Email addresses do not match</span>
					</div>
					<p>
						Please note: When you change your email address, this will also change your login ID to the new email address provided.
					</p>
					<a href="/my-account" class="action grey large cancel">Cancel</a> 
					<button class="action red large update-info" type="submit">Change Email</button>
					<div class="form-errors user-errors hide">
						<p>Please check your form for the correct information:</p>
						<ul></ul>
						<i class="pictos icon-error"></i>
					</div>
				</form>
			</div>
		</li>
		<li>
			<span class="expand">Change Password <i class="plus-r pictos icon-circle-plus"></i></span>
			<div class="account-form">
				<form action="/my-account/update" method="post" class="validate account-update" novalidate>
					<div class="form-unit">
						<div class="form-input">
							<label for="password">Password</label>
							<input type="password" name="password" id="password" data-valid="error-password" required>
						</div>
						<span class="error-field hide" id="error-password">Password is a required field</span>
					</div>
					<div class="form-unit">
						<div class="form-input">
							<label for="password-confirm">Confirm Password</label>
							<input type="password" name="confirm_password" id="password-confirm" data-valid="error-confirm-password" required>
						</div>
						<span class="error-field hide" id="error-confirm-password">Password Confirmation is a required field</span>
						<span class="error-field hide user-pwd-match">Passwords do not match</span>
					</div>
					<a href="/my-account" class="action grey large cancel">Cancel</a> 
					<button class="action red large update-info" type="submit">Change Password</button>
					<div class="form-errors user-errors hide">
						<p>Please check your form for the correct information:</p>
						<ul></ul>
						<i class="pictos icon-error"></i>
					</div>
				</form>
			</div>
		</li> 
	</ul>
</div>