<div id="main" role="main">
	<h1 class="page-heading has-action">
		Anna’s Account
		<a href="/logout" class="action red sign-in">Sign Out</a>
	</h1>
	<% if @page_message %>
	<div class="page-message">
		<h2>Thank you for creating an account.</h2><p>Use the features below to make your shopping experience more enjoyable.</p>
	</div>	
	<% end %>
	<% if @page_message_account_updated %>
	<div class="page-message">
		Your account has been successfully updated.
	</div>	
	<% end %>
	<nav class="drill-down with-description">
		<ul>
			<li>
				<a href="/my-products" title="My Products">
					My Products 
					<i class="arrow-r pictos icon-arrow-right"></i>
					<span class="description">Register MTD products for quick access to<br /> parts, diagnostic issues, manual and how-to’s</span>
				</a>
			</li>
			<li>
				<a href="/orders/list" title="Order History">
					Order History 
					<i class="arrow-r pictos icon-arrow-right"></i>
					<span class="description">Check order status, track shipping and<br /> previous purchases.</span>
				</a>
			</li>
			<li>
				<a href="/my-account/update" title="Update Account">
					Update Account
					<i class="arrow-r pictos icon-arrow-right"></i>
					<span class="description">Change your email address, password and<br /> personal information.</span>
				</a>
			</li>			
		</ul>
	</nav>
</div>