<div id="main" role="main">
	<h1 class="page-heading has-action">
		MY ACCOUNT 
		<a href="/sign-in" class="action red sign-in">Sign In</a>
	</h1>
	<% if @page_message %>
	<div class="page-message">
		Thank you for registering your product.
	</div>	
	<% end %>
	<nav class="drill-down with-description">
		<ul>
			<li>
				<a href="/my-account/create" title="Create Account">
					Create Account 
					<i class="arrow-r pictos icon-arrow-right"></i>
					<span class="description">Faster checkout, track MTD products <br />and orders.</span>
				</a>
			</li>
			<li>
				<a href="/products/register" title="Register a Product">
					Register a Product 
					<i class="arrow-r pictos icon-arrow-right"></i>
					<span class="description">Get help with warranty information <br />and product recalls</span>
				</a>
			</li>
			<li>
				<a href="/my-products" title="My Products">
					My Products 
					<i class="arrow-r pictos icon-arrow-right"></i>
					<span class="description">Register MTD products for quick access to<br /> parts, diagnostic issues, manual and how-to’s</span>
				</a>
			</li>
		</ul>
	</nav>
</div>