<div id="main" role="main">
	<h1 class="page-title form-title">Create Account</h1>
	<!-- Use below for displaying server error messages stemming from user input 
	<div class="form-errors">
		<p>Please correct the following information:</p>
		<ul>
			<li>Order number is in an invalid format.</li>			
		</ul>
		<i class="pictos icon-error"></i>
	</div> -->
	<% if request.cookies["logged-in"] == 'true' %>
	<p>
		You are currently logged in. Please <a href="/">click here</a> to continue shopping.
	</p>
	<% else %>
	<p>
		Become a member today to make shopping easier. 
		Faster checkouts, track orders, view order history.
	</p>
	<div class="checkout-block my-account">
		<form action="/my-account/create" method="post" class="validate account-create" novalidate>
			<div class="form-unit">
				<div class="form-input">
					<label for="firstname">First Name</label>
					<input type="text" name="firstname" id="firstname" required data-valid="error-firstname" value="">
				</div>
				<span class="error-field hide" id="error-firstname">First Name is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="lastname">Last Name</label>
					<input type="text" name="lastname" id="lastname" value="">
				</div>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="zipcode">Zip Code</label>						
					<input type="tel" name="zipcode" id="zipcode" data-valid="error-zipcode" value="" pattern="[\d]{5}" maxlength="5">		
				</div>					
				<span class="error-field hide" id="error-zipcode"></span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="email">Email Address</label>	
					<input type="email" name="email" id="email" required data-valid="error-email" value="">
				</div>
				<span class="error-field hide" id="error-email">Email is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="email-confirm">Confirm Email</label>	
					<input type="email" name="confirm_email" id="email-confirm" required data-valid="error-confirm-email" value="">
				</div>
				<span class="error-field hide" id="error-confirm-email">Email Confirmation is a required field</span>
				<span class="error-field hide user-email-match">Email addresses do not match</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="password">Password</label>
					<input type="password" name="password" id="password" data-valid="error-password" required>
				</div>
				<span class="error-field hide" id="error-password">Password is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="password-confirm">Confirm Password</label>
					<input type="password" name="confirm_password" id="password-confirm" data-valid="error-confirm-password" required>
				</div>
				<span class="error-field hide" id="error-confirm-password">Password Confirmation is a required field</span>
				<span class="error-field hide user-pwd-match">Passwords do not match</span>
			</div>
			<button class="action red large create-account" type="submit">Create Account</button>	
			<div class="form-errors user-errors hide">
				<p>Please check your form for the correct information:</p>
				<ul></ul>
				<i class="pictos icon-error"></i>
			</div>
		</form>
	</div>
	<% end %>
</div>