<div id="main" role="main">
	<h1 class="page-title form-title">ADD PRODUCT</h1>
	<p>
		Please update your product information below.
	</p>
	<div class="form-block my-products-update">
		<form action="/my-products/add" method="post" class="validate form-my-products-update" novalidate>
			<div class="form-unit">
				<div class="form-input">
					<label for="productname">Product Name</label>
					<input type="text" name="productname" id="productname" required data-valid="error-productname" value="">
				</div>
				<span class="error-field hide" id="error-productname">Product Name is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="brand">Brand</label>
					<select name="brand" id="brand" required data-valid="error-brand">
						<option value="MTD Parts">MTD Parts</option>
						<option value="Bolens">Bolens</option>
					</select>
				</div>
				<span class="error-field hide" id="error-brand">Brand is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="machinetype">Machine Type</label>
					<select name="machinetype" id="machinetype" required data-valid="error-brand">
						<option value="Chainsaw">Chainsaw</option>
					</select>
				</div>
				<span class="error-field hide" id="error-brand">Brand is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="model-number">Model Number</label>
					<input type="text" name="model_number" id="model-number" required data-valid="error-model-number" value="">
				</div>
				<span class="error-field hide" id="error-model-number">Model Number is a required field</span>
			</div>
			<p class="field-description">
				<a href="#know-model">Don’t know your model number?</a>
			</p>
			<div class="form-unit">
				<div class="form-input">
					<label for="serial-number">Serial Number</label>
					<input type="text" name="serial_number" id="serial-number" value="">
				</div>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="description">Description</label>
					<textarea name="description" id="description" rows="6"></textarea>
				</div>
			</div>
			<p class="button-set">
				<a href="/my-products/detail" class="action grey cancel">Cancel</a> 
				<button class="action red add-info" type="submit"><i class="pictos icon-plus"></i> Add Product</button>	
			</p>
			<div class="form-errors user-errors hide">
				<p>Please check your form for the correct information:</p>
				<ul></ul>
				<i class="pictos icon-error"></i>
			</div>
		</form>
		<h2 class="image-description" id="know-model">Don’t know your model #?</h2>
		<p>
			<img src="/wcpics/MTDPartsMobile/en_US/images/mtd-label.jpg" alt="Serial Number Pic" />
		</p>
		<p>
			<a href="/locate-model" class="action grey locate-model">Locate Your Model #</a>
		</p>
	</div>

</div>