<div id="main" role="main" class="my-products-detail">
	<% if @page_message_product_updated %>
		<div class="page-message">
			Your product has been updated.
		</div>
	<% end %>
	<% if @page_message_product_added %>
		<div class="page-message">
			Your product has been added.
		</div>
	<% end %>
	<h1>
		<span class="green-machines nav-snow-throwers"></span>
		TB24” Snow Thrower
		<span class="product-description">Model # 31AS62N2766</span>
	</h1>
	<p>
		Remember to always have an extra belt and set of shear pins handy. You don’t want to get caught in a snowstorm without them!
	</p>
	<p>
		Model # 31AS62N2766<br />
		Serial # xxxxxxxxxxxx<br />
		Troy-Bilt<br />
		Snow Thrower
	</p>
	<div class="table button-group myproducts-options">
		<div class="row">
			<div class="cell align-left">
				<a href="/diagnose-troubleshoot/snow-throwers" class="action green-solid">Diagnose Issue</a>
			</div>	
			<div class="cell align-right">
				<a href="/knowledge-center" class="action green-solid">How-to Tutorials</a>
			</div>
		</div>
		<div class="row">
			<div class="cell align-left">
				<a href="/manuals" class="action green-solid">Operator’s Manuals</a>
			</div>	
			<div class="cell align-right">
				<a href="/find-parts" class="action green-solid">Shop for Parts</a>
			</div>
		</div>	
	</div>
	<div class="table button-group myproducts-actions">
		<div class="row">
			<div class="cell align-left">
				<a href="/my-products" class="action red"><i class="icon-back pictos"></i> My Products</a>
			</div>	
			<div class="cell align-right">
				<a href="/my-products/update" class="action grey">Edit</a> 
				<a href="/my-products/delete" class="action grey">Delete</a>
			</div>
		</div>
	</div>	
</div>	