<div id="main" role="main">
	<h1 class="page-title form-title">UPDATE PRODUCT</h1>
	<p>
		Please update your product information below.
	</p>
	<div class="form-block my-products-update">
		<form action="/my-products/update" method="post" class="validate form-my-products-update" novalidate>
			<div class="form-unit">
				<div class="form-input">
					<label for="productname">Product Name</label>
					<input type="text" name="productname" id="productname" required data-valid="error-productname" value="Remington Electric Chainsaw">
				</div>
				<span class="error-field hide" id="error-productname">Product Name is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="brand">Brand</label>
					<select name="brand" id="brand" required data-valid="error-brand">
						<option value="">Select Brand</option>
						<option value="MTD Parts" selected>MTD Parts</option>
						<option value="Bolens">Bolens</option>
					</select>
				</div>
				<span class="error-field hide" id="error-brand">Brand is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="machinetype">Machine Type</label>
					<select name="machinetype" id="machinetype" required data-valid="error-brand">
						<option value="">Select Machine Type</option>
						<option value="Chainsaw" selected>Chainsaw</option>
					</select>
				</div>
				<span class="error-field hide" id="error-brand">Brand is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="model-number">Model Number</label>
					<input type="text" name="model_number" id="model-number" required data-valid="error-model-number" value="41AZ32UG983">
				</div>
				<span class="error-field hide" id="error-model-number">Model Number is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="serial-number">Serial Number</label>
					<input type="text" name="serial_number" id="serial-number" value="">
				</div>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="description">Description</label>
					<textarea name="description" id="description" rows="6" required data-valid="error-model-number">Bought in 2012</textarea>
				</div>
				<span class="error-field hide" id="error-model-number">Model Number is a required field</span>
			</div>
			<p class="button-set">
				<a href="/my-products/detail" class="action grey large cancel">Cancel</a> 
				<button class="action red large update-info" type="submit">Update Product</button>	
			</p>
			<div class="form-errors user-errors hide">
				<p>Please check your form for the correct information:</p>
				<ul></ul>
				<i class="pictos icon-error"></i>
			</div>
		</form>
	</div>
</div>