<div id="main" role="main">
	<h1 class="page-heading has-action">
		MY PRODUCTS
		<a href="/my-products/add" class="action red sign-in"><i class="pictos icon-plus"></i> Add</a>
	</h1>
	<% if @page_message_product_deleted %>
		<div class="page-message">
			Your product has been deleted.
		</div>
	<% end %>
	<nav class="drill-down white with-icon">
		<ul>
			<li>
				<a href="/my-products/detail" title="My Products">
					<span class="green-machines nav-snow-throwers"></span>
					<span class="arrow-r pictos icon-arrow-right"></span>
					TB24” Snow Thrower
					<span class="description">Model # 31AS62N2766</span>
				</a>
			</li>
			<li>
				<a href="/my-products/detail" title="Order History">
					<span class="green-machines nav-push-mowers"></span>
					<span class="arrow-r pictos icon-arrow-right"></span>
					Electric Walking Mower
					<span class="description">Model # 18A-212A766</span>
				</a>
			</li>			
		</ul>
	</nav>
</div>