<div id="main" role="main" class="my-products-detail">
	<h1>
		<span class="green-machines nav-snow-throwers"></span>
		TB24” Snow Thrower
		<span class="product-description">Model # 31AS62N2766</span>
	</h1>
	<p>
		Remember to always have an extra belt and set of shear pins handy. You don’t want to get caught in a snowstorm without them!
	</p>
	<form action="/my-products/delete" method="post" class="form-delete-product">
		<p class="button-set">
			<a href="/my-products/detail" class="action grey large cancel">Cancel</a> 
			<button class="action red large delete" type="submit">Delete</button>	
		</p>
	</form>	
</div>