<div id="main" role="main">
	<h1 class="page-title form-title">My Products</h1>
	<p>	
		Get quick access to:
	</p>
	<ul>
		<li>Parts</li>
		<li>Diagnostic Issues</li>
		<li>Manuals</li>
		<li>How-to’s</li>
		<li>Helpful Reminders</li>
	</ul>
	<p>
		To get started with My Products, sign in or create an account now.
	</p>
	<p class="button-set">
		<a href="/sign-in" class="action grey sign-in">Sign In</a>
		<a href="/my-account/create" class="action grey create-account">Create Account</a>
	</p>
</div>