<div id="main" role="main">
	<h1>Order #<%= params[:order_number] %> on 4/12/2012</h1>
	<p class="tracking-summary">
		Tracking #1Q5RTSPX4W00012<br />
		Shipped on 4/14/2012
	</p>
	<ul class="product-list full-bleed">
		<li>
			<p>
				<span class="date">11/01/2011</span> at <span class="time">9:55 AM</span><br />
				<span class="location">Seattle, WA</span><br />
				<span class="description">Delivered</span><br />
			</p>
		</li>
		<li>
			<p>
				<span class="date">11/01/2011</span> at <span class="time">9:55 AM</span><br />
				<span class="location">Seattle, WA</span><br />
				<span class="description">Package Transferred</span>
			</p>
		</li>
		<li>
			<p>
				<span class="date">11/01/2011</span> at <span class="time">9:55 AM</span><br />
				<span class="location">Seattle, WA</span><br />
				<span class="description">Destination Scan</span>
			</p>
		</li>
		<li>
			<p>
				<span class="date">11/01/2011</span> at <span class="time">9:55 AM</span><br />
				<span class="location">Chicago, IL</span><br />
				<span class="description">Departure Scan</span>
			</p>
		</li>
		<li>
			<p>
				<span class="date">11/01/2011</span> at <span class="time">9:55 AM</span><br />
				<span class="location">Chicago, IL</span><br />
				<span class="description">Original Scan</span>
			</p>
		</li>
		<li>
			<p>
				<span class="date">11/01/2011</span> at <span class="time">9:55 AM</span><br />
				<span class="location">US</span><br />
				<span class="description">Billing Info Received</span>
			</p>
		</li>
	</ul>		
</div>