<div id="main" role="main" class="product-detail">
	<div class="table">
		<div class="row">	
			<div class="cell product-name">
				<h1><%= @product['name']%></h1>
				<h2><%= @product['item']%></h2>
			</div>
			<div class="cell">
				<p class="price-info">
					<% if (@product['reg_price'] != @product['sale_price']) %>
					<span class="price-one"><del><strong>$<%= sprintf("%0.2f",@product['reg_price']) %></strong></del></span>
					<% end %>										
					<span class="price-two"><strong>$<%= sprintf("%0.2f",@product['sale_price']) %></strong></span>
					<span class="free-shipping">*FREE SHIPPING</span>
				</p>
			</div>
		</div>
	</div>
	<div class="product-image">
		<img data-img="/wcpics/MTDPartsMobile/en_US/images/content/<%= @product['photo_detail'] %>" data-img-hd="/wcpics/MTDPartsMobile/en_US/images/content/<%= @product['photo_detail_hd'] %>" class="lazy-load">
		<noscript>
			<img src="/wcpics/MTDPartsMobile/en_US/images/content/<%= @product['photo_detail'] %>">
		</noscript>
	</div>
	<div class="product-status">
		Back Ordered: Available 12/01/12
	</div>
	<form action="/cart" method="post" class="form-cart-add validate" novalidate>
		<input type="hidden" name="product_id" value="<%= @id %>" >
		<input type="hidden" name="product_price" value="<%= @product['sale_price'] %>" >	
		<% if (@product['is_part']) %>
		<input type="hidden" name="product_color" id="product-color" required  data-valid="error-product-color" value="">
		<div class="form-unit color-selector">
			<select id="color-select" class="seed-input" data-seed-input="#product-color">
				<option value="" data-color-image="/wcpics/MTDPartsMobile/en_US/images/no-color.png">Select Color</option>
				<option value="red" data-color-image="/wcpics/MTDPartsMobile/en_US/images/medium-grey.png">Medium Grey</option>
				<option value="green" data-color-image="/wcpics/MTDPartsMobile/en_US/images/green.png">Green</option>
				<option value="yellow" data-color-image="/wcpics/MTDPartsMobile/en_US/images/yellow.png">Yellow</option>
			</select> 
			<span class="color-indicator"><img src="/wcpics/MTDPartsMobile/en_US/images/no-color.png" alt="color preview" /></span>
			<span class="error-field hide" id="error-product-color">Color is a required field</span>
		</div>
		<% end %>
		<div class="table">
			<div class="row">	
				<div class="form-unit cell quantity">
					<select name="product_quantity" id="product-quantity">
					<% 10.times do |i| %>
						<option value="<%= i + 1 %>">Quantity <%= i + 1 %></option>
					<% end %>
					</select>
				</div>	
				<div class="cell submit">
					<button type="submit" class="action red large add-to-cart"><i class="icon-plus pictos"></i> Add to Cart</button>
				</div>	
			</div>
		</div>
	</form>	
	<div class="product-description group">
		<p>
			Your Lawn will benefit from de-thatching with this handy string trimmer attachment.
		</p>
		<ul>
			<li>De-Thatching increases the amount of water and nutrients penetrating the soil.</li>
			<li>De-Thatching allows grass to develop a deeper root system, which leads to thicker, heartier lawns.</li>
			<li>De-Thatching increases the amount of water and nutrients penetrating the soil.</li>
			<li>De-Thatching increases the amount of water and nutrients penetrating the soil.</li>
		</ul>
		<p>
			<a href="tel:1-800-269-6215" rel="nofollow" class="action green large call-support"><i class="pictos icon-phone"></i> Need Help? Call 1-800-269-6215</a>
		</p>
	</div>
<% if (@product['is_part']) %>
<!-- Conditionally loads if the product is a part -->
	<nav class="drill-down">
		<ul class="expandable">
			<li class="collapsed" id="part-finder"><a href="#part-finder" title="Part Finder" class="expand">Part Finder <span class="plus-r pictos icon-circle-plus"></span></a>
				<div id="part-finder-widget" class="block">
					<form class="part-finder-form validate" method="post" action="/find-parts" novalidate>
						<div class="form-unit cell">
							<div class="form-input">
								<label for="part-number">Know Your Part Number?</label>
								<input type="text" id="part-number" name="part_number" required data-valid="error-part-number" placeholder="Enter Part #"> 
								<button class="action red go">GO</button>
							</div>
							<span class="error-field hide" id="error-part-number">Part Number is a required field</span>
						</div>
					</form>	
				</div>				
			</li>
		</ul>
	</nav>
<!-- End conditionally loads -->
<% end %>
</div>	