<div id="main" role="main" class="products-list">
	<div id="search-wrap">
		<form id="search" method="get" action="/products/search">
			<input type="text" name="q" placeholder="Search Products" />
			<button type="submit" class="btn-search pictos"></button>
		</form>
	</div>
	<h1 class="product-title"><%= @category_title %></h1>
	<div class="paging table">
		<div class="row">
			<a href="javascript:alert('Link Not Implemented');" title="Prev" class="cell">Prev</a>
			<div class="page cell">
				<span>2 of 3</span>
			</div>
			<a href="javascript:alert('Link Not Implemented');" title="Next" class="cell">Next</a>			
		</div>
	</div>
	<ul class="product-list">
	<% 4.times do |i| %>
		<% @products.each do |k,v| %>
			<% if (! v['is_part']) %>
		<li>
			<a title="<%= "#{v['product_name']}" %>" href="/products/detail/<%= "#{k}" %>">
				<div class="row">
					<div class="product-image cell">
						<span class="img-wrap">
							<img data-img="/wcpics/MTDPartsMobile/en_US/images/content/<%= "#{v['photo']}" %>" data-img-hd="/wcpics/MTDPartsMobile/en_US/images/content/<%= "#{v['photo_hd']}" %>" class="lazy-load">
							<noscript>
								<img src="/wcpics/MTDPartsMobile/en_US/images/content/<%= "#{v['photo']}" %>">
							</noscript>
						</span>
					</div>
					<div class="product-info cell">
						<div class="table">
							<div class="row">
								<div class="product-name cell">
									<h2><%= "#{v['name']}" %></h2>
									<h3><%= "#{v['item']}" %></h3>
								</div>
								<div class="price-info cell">
									<p>
										<% if (v['reg_price'] != v['sale_price']) %>
										<span class="price-one"><del><strong>$<%= sprintf("%0.2f","#{v['reg_price']}") %></strong></del></span>
										<% end %>										
										<span class="price-two"><strong>$<%= sprintf("%0.2f","#{v['sale_price']}") %></strong></span>
									</p>
								</div>	
							</div>
						</div>
						<span class="free-shipping">*FREE SHIPPING</span>	
					</div>	
				</div>
			</a>
		</li>
			<% end %>
		<% end %>
	<% end %>
	</ul>	
	<div class="paging table last">
		<div class="row">
			<a href="javascript:alert('Link Not Implemented');" title="Prev" class="cell">Prev</a>
			<div class="page cell">
				<span>2 of 3</span>
			</div>
			<a href="javascript:alert('Link Not Implemented');" title="Next" class="cell">Next</a>			
		</div>
	</div>
</div>