<div id="main" role="main" class="products-browse">
	<div id="search-wrap">
		<form id="search" method="get" action="/products/search">
			<input type="text" name="q" placeholder="Search Products" />
			<button type="submit" class="btn-search pictos"></button>
		</form>
	</div>
	<% if @page_error %>
	<div class="page-error">
		Your search for &quot;<strong><%= params["q"] %></strong>&quot; did not return any results. Try a new search or browse through the categories below.
	</div>	
	<% end %>
	<h1 class="page-heading">ACCESSORIES &amp; ATTACHMENTS</h1>
	<nav class="drill-down">
		<ul>
			<li><a href="/products/chainsaws" title="Chainsaws">Chainsaws <i class="arrow-r pictos icon-arrow-right"></i></a></li>
			<li><a href="/products/chippers-shredders-vacuums" title="Chippers, Shredders &amp; Vacuums">Chippers, Shredders &amp; Vacuums <i class="arrow-r pictos icon-arrow-right"></i></a></li>
			<li><a href="/products/garden-tillers" title="Garden Tillers">Garden Tillers <i class="arrow-r pictos icon-arrow-right"></i></a></li>
			<li><a href="/products/lawn-mowers-walk-behind" title="Lawn Mowers: Walk Behind">Lawn Mowers: Walk Behind <i class="arrow-r pictos icon-arrow-right"></i></a></li>
			<li><a href="/products/lawn-mowers-tractors-riding" title="Lawn Mowers &amp; Tractors: Riding">Lawn Mowers &amp; Tractors: Riding <i class="arrow-r pictos icon-arrow-right"></i></a></li>
			<li><a href="/products/lawn-string-trimmers" title="Lawn / String Trimmers">Lawn / String Trimmers <i class="arrow-r pictos icon-arrow-right"></i></a></li>
			<li><a href="/products/snow-blowers-throwers" title="Snow Blowers / Throwers">Snow Blowers / Throwers <i class="arrow-r pictos icon-arrow-right"></i></a></li>
			<li><a href="/products/universal-misc" title="Universal &amp; Misc">Universal &amp; Misc <i class="arrow-r pictos icon-arrow-right"></i></a></li>
		</ul>
	</nav>
</div>	