<div id="main" role="main" class="register-product">
	<h1 class="page-title form-title">Product Registration</h1>
	<p>To register your product, please complete the form below.</p>
	<div class="checkout-block shipping">
		<form action="/products/register" method="post" class="validate" novalidate>
			<div class="form-unit">
				<div class="form-input">
					<label for="firstname">First Name</label>
					<input type="text" name="firstname" id="firstname" required data-valid="error-firstname" value="">
				</div>
				<span class="error-field hide" id="error-firstname">First Name is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="lastname">Last Name</label>
					<input type="text" name="lastname" id="lastname" required data-valid="error-lastname" value="">
				</div>
				<span class="error-field hide" id="error-lastname">Last Name is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="address">Street Address</label>
					<input type="text" name="address" id="address" required class="related" data-valid="error-address" value="">
				</div>
				<span class="error-field hide" id="error-address">Address is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="address">Street Address</label>
					<input type="text" name="address2" value="">
				</div>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="city">City</label>
					<input type="text" name="city" id="city" data-valid="error-city" value="" required>
				</div>
				<span class="error-field hide" id="error-city">City is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="state" class="label-select">State</label>
					<select name="state" id="state" required data-valid="error-state">
						<option value="">Select</option>
						<option value="AL">Alabama</option>
						<option value="AZ">Arizona</option>
						<option value="AR">Arkansas</option>
						<option value="CA">California</option>
						<option value="CO">Colorado</option>
						<option value="CT">Connecticut</option>
						<option value="DC">DC</option>
						<option value="DE">Delaware</option>
						<option value="FL">Florida</option>
						<option value="GA">Georgia</option>
						<option value="ID">Idaho</option>
						<option value="IL">Illinois</option>
						<option value="IN">Indiana</option>
						<option value="IA">Iowa</option>
						<option value="KS">Kansas</option>
						<option value="KY">Kentucky</option>
						<option value="LA">Louisiana</option>
						<option value="ME">Maine</option>
						<option value="MD">Maryland</option>
						<option value="MA">Massachusetts</option>
						<option value="MI">Michigan</option>
						<option value="MN">Minnesota</option>
						<option value="MS">Mississippi</option>
						<option value="MO">Missouri</option>
						<option value="MT">Montana</option>
						<option value="NE">Nebraska</option>
						<option value="NV">Nevada</option>
						<option value="NH">New Hampshire</option>
						<option value="NJ">New Jersey</option>
						<option value="NM">New Mexico</option>
						<option value="NY">New York</option>
						<option value="NC">North Carolina</option>
						<option value="ND">North Dakota</option>
						<option value="OH">Ohio</option>
						<option value="OK">Oklahoma</option>
						<option value="OR">Oregon</option>
						<option value="PA">Pennsylvania</option>
						<option value="RI">Rhode Island</option>
						<option value="SC">South Carolina</option>
						<option value="SD">South Dakota</option>
						<option value="TN">Tennessee</option>
						<option value="TX">Texas</option>
						<option value="UT">Utah</option>
						<option value="VT">Vermont</option>
						<option value="VA">Virginia</option>
						<option value="WA">Washington</option>
						<option value="WV">West Virginia</option>
						<option value="WI">Wisconsin</option>
						<option value="WY">Wyoming</option>
					</select>
				</div>
				<span class="error-field hide" id="error-state">State is a required field</span>
			</div>				
			<div class="form-unit">
				<div class="form-input">
					<label for="zipcode">Zip Code</label>						
					<input type="tel" name="zipcode" id="zipcode" required data-valid="error-zipcode" value="" pattern="[\d]{5}" maxlength="5">							
				</div>
				<span class="error-field hide" id="error-zipcode">Zip Code is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="owner-phone-complete">Phone</label>
					<div class="phone-fields">				
						<input type="tel" name="phone" class="field-phone field1" maxlength="3">					
						<input type="tel" name="phone2" id="test" class="field-phone field2" maxlength="3">					
						<input type="tel" name="phone3" class="field-phone field3" maxlength="4">	
						<input type="tel" name="owner_phone_complete" class="hide hidden-phone" data-valid="error-owner-phone-complete" id="owner-phone-complete" pattern="[\d]{10}">
					</div>
				</div>
				<span class="error-field hide" id="error-owner-phone-complete">Phone is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="email">Email</label>	
					<input type="email" name="email" id="email" data-valid="error-email" value="">
				</div>
				<span class="error-field hide" id="error-email"></span>
			</div>
			<div class="form-unit">
				<div class="form-checkbox form-input">
					<input type="checkbox" name="shipping_policy" id="shipping-policy" value="1" class="block-check">			
					<label class="block-label">Yes! Send me information about promotions, product updates and maintenance alers. MTD is committed to safeguarding your privacy. Our Privacy Policy outlines how MTD handles your information.</label>
				</div>
			</div>
			<div class="form-unit">
				<div class="select-group">
					<label>Date Purchased: <span class="required">(required)</span></label>	
					<select name="purchase_month" id="purchase-month" class="month">
						<option value="1"<% if (Time.now.month == 1) %> selected="selected"<% end %>>January</option>
						<option value="2"<% if (Time.now.month == 2) %> selected="selected"<% end %>>February</option>
						<option value="3"<% if (Time.now.month == 3) %> selected="selected"<% end %>>March</option>
						<option value="4"<% if (Time.now.month == 4) %> selected="selected"<% end %>>April</option>
						<option value="5"<% if (Time.now.month == 5) %> selected="selected"<% end %>>May</option>
						<option value="6"<% if (Time.now.month == 6) %> selected="selected"<% end %>>June</option>
						<option value="7"<% if (Time.now.month == 7) %> selected="selected"<% end %>>July</option>
						<option value="8"<% if (Time.now.month == 8) %> selected="selected"<% end %>>August</option>
						<option value="9"<% if (Time.now.month == 9) %> selected="selected"<% end %>>September</option>
						<option value="10"<% if (Time.now.month == 10) %> selected="selected"<% end %>>October</option>
						<option value="11"<% if (Time.now.month == 11) %> selected="selected"<% end %>>November</option>
						<option value="12"<% if (Time.now.month == 12) %> selected="selected"<% end %>>December</option>
					</select>
					<select name="purchase_month" id="purchase-month" class="day">
						<% 31.times do |i| %>
						<option value="<%= i + 1 %>"<% if ((i + 1) == Time.now.day) %> selected="selected"<% end %>><%= i + 1 %></option>
						<% end %>
					</select>			
					<select name="purchase_year" id="purchase-year" class="year">
						<option value="">Select</option>
						<% 40.times do |i| %>
						<option value="<%= Time.new.year - i %>"<% if ((Time.new.year - i) == Time.now.year) %> selected="selected"<% end %>><%= Time.new.year - i %></option>
						<% end %>
					</select>
				</div>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="model-number">Model Number</label>
					<input type="text" name="model_number" id="model-number" required data-valid="error-model-number" value="">
				</div>
				<span class="error-field hide" id="error-model-number">Model Number is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="serial-number">Serial Number</label>
					<input type="text" name="serial_number" id="serial-number" value="">
				</div>
			</div>
			<p>
				<img src="/wcpics/MTDPartsMobile/en_US/images/mtd-label.jpg" alt="Serial Number Pic" class="tag-sample" />
			</p>
			<% if ! logged_in? %>
			<p class="field-instructions">
				Would you like to create an account?
			</p>
			<div class="form-unit">
				<div class="form-input">
					<label for="password">Password</label>
					<input type="password" name="password" id="password">
				</div>
			</div>	
			<div class="form-unit">
				<div class="form-input">
					<label for="password-confirm">Confirm Password</label>
					<input type="password" name="confirm_password" id="password-confirm">
				</div>
				<span class="error-field hide user-pwd-match">Passwords do not match</span>
			</div>	
			<% end %>
			<p>	
				<button class="action red large register" type="submit">Register Product</button>
			</p>
			<div class="form-errors user-errors hide">
				<p>Please check your form for the correct information:</p>
				<ul></ul>
				<i class="pictos icon-error"></i>
			</div>
		</form>	
	</div>
</div>	