<div id="main" role="main" class="form-page">
	<h1>Store Directions</h1>
	<div class="map-result">
		<h2><%= @store[:name] %></h2>
		<p>
			<%= @store[:address] %><br />
			<%= @store[:city] %>, <%= @store[:state] %> <%= @store[:zip] %><br />
			<%= @store[:phone] %>
		</p>
	</div>
</div>