<div id="main" role="main">
	<h1 class="page-title">
		Service Locator Results
		<span class="results-description">You searched for &quot;<strong>Bolens</strong>&quot; service locations within &quot;<strong>0-10</strong>&quot; miles of your &quot;<strong>current location</strong>&quot;</span>
	</h1>
	<ul class="store-list">
		<% @service_providers.each do |s|  %>
		<li>
			<p>
				<strong><%= s[:name] %></strong><br />
				<%= s[:address] %><br />
				<%= s[:city] %>, <%= s[:state] %> <%= s[:zip] %><br />
				Phone: <%= s[:phone] %><br />
				<a href="#">View Dealer Site</a><br />
				<span class="distance"><%= s[:miles] %> miles</span><br />
				<a class="action grey map-it" href="/service-locator/map/<%= s[:id] %>">Get Directions</a>
			</p>
		</li>
		<% end %>
	</ul>
	<p>
		<a href="/service-locator" class="action green search-again">Search Again</a>
	</p>
</div>	