<div id="main" role="main" class="service-locator">
	<h1 class="page-title">Service Locator</h1>
	<div class="form-block">
		<form action="/service-locator/results" method="get" class="validate find-store-form" name="form_store_find" id="form-store-find" novalidate>
			<input type="hidden" name="latitude" id="latitude" value="">
			<input type="hidden" name="longitude" id="longitude" value="">
			<p>
				Find a qualified service provider in your area.
			</p>
			<div class="form-unit ">
				<div class="form-input">
					<label for="radius">Within</label> 
					<select name="radius" id="radius">
						<option value="10">0 to 10 Miles</option>												
						<option value="25">0 to 25 Miles</option>												
						<option value="50">0 to 50 Miles</option>												
						<option value="100">0 to 100 Miles</option>												
						<option value="300">0 to 300 Miles</option>																		
					</select>
				</div>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="brand">Brand</label>
					<select name="brand" id="brand" required data-valid="error-brand">
						<option value="">Select Brand</option>
						<option value="Bolens">Bolens</option>
					</select>
				</div>
				<span class="error-field hide" id="error-brand">Brand is a required field</span>
			</div>
			<fieldset class="grey">
				<div class="form-unit">
					<div class="form-checkbox-location">
						<div class="form-input">
							<input type="checkbox" name="location" class="geolocate" id="location" value="1" /> 
							<label class="block-label">Use My Current Location <span class="loader hide"><img src="/wcpics/MTDPartsMobile/en_US/images/loader.gif" alt="" /></span><span class="location-success hide">Location found</span></label>
						</div>
					</div>
				</div>
				<p class="geolocate locate-by-zip-wrapper"><strong>OR</strong></p>
				<div class="form-unit locate-by-zip-wrapper">
					<div class="form-input">
						<label for="zip">Zip Code</label>
						<input type="tel" id="zip" name="zip" data-valid="error-zip-code" pattern="[\d]{5}" maxlength="5">
					</div>
					<span class="error-field hide" id="error-zip-code">Either Zip Code or Current Location is required</span>
				</div>
			</fieldset>
			<p><button type="submit" class="action large red">Find Service Center</button></p>
			<div class="form-errors user-errors hide">
				<p>Please check your form for the correct information:</p>
				<ul></ul>
				<i class="pictos icon-error"></i>
			</div>
		</form>
	</div>
</div>	