<div id="main" role="main" class="form-page">
	<h1 class="page-title">Map It</h1>
	<div class="map-result">
		<h2><%= @service_provider[:name] %></h2>
		<p>
			<%= @service_provider[:address] %><br />
			<%= @service_provider[:city] %>, <%= @service_provider[:state] %> <%= @service_provider[:zip] %><br />
			<%= @service_provider[:phone] %>
		</p>
	</div>
	<form action="/stores/directions/<%= @service_provider[:id] %>" method="get" class="form-store-find form-map-it validate" id="form-store-find" novalidate>
		<input type="hidden" name="storeId" value="<%= @service_provider[:id] %>" />
		<input type="hidden" name="catalogId" value="14102" />
		<input type="hidden" name="map" value="false" />
		<input type="hidden" name="transaction" value="route" />
		<input type="hidden" name="template" value="route" />
		<input type="hidden" name="routeMaps" value="3" />
		<input type="hidden" name="pWidth" value="120" />
		<input type="hidden" name="pHeight" value="120" />
		<input type="hidden" name="destname" value="<%= @service_provider[:name] %>" />
		<input type="hidden" name="destaddress" value="<%= @service_provider[:address] %>" />
		<input type="hidden" name="destcity" value="<%= @service_provider[:city] %>" />
		<input type="hidden" name="deststateprovince" value="<%= @service_provider[:state] %>" />
		<input type="hidden" name="destpostalcode" value="<%= @service_provider[:zip] %>" />
		<input type="hidden" name="latitude" value="<%= @service_provider[:latitude] %>" />
		<input type="hidden" name="longitude" value="<%= @service_provider[:longitude] %>" />
		<input type="hidden" name="origlatitude" id="latitude" value="" />
		<input type="hidden" name="origlongitude" id="longitude" value="" />
		<p>
			Enter your address below for Door-to-Door directions:
		</p>
		<fieldset class="grey">
			<div class="form-unit">
				<div class="form-checkbox-location">
					<div class="form-input">
						<input type="checkbox" name="location" class="geolocate" id="location" value="1" /> 
						<label class="block-label">Use My Current Location <span class="loader hide"><img src="/wcpics/MTDPartsMobile/en_US/images/loader.gif" alt="" /></span><span class="location-success hide">Location found</span></label>
					</div>
				</div>
			</div>
			<p class="geolocate locate-by-zip-wrapper"><strong>OR</strong></p>
			<div class="form-unit locate-by-zip-wrapper">
				<div class="form-input">
					<label for="origaddress">Address:</label>
					<input type="text" id="origaddress" name="origaddress" size="23" required data-valid="error-origaddress">
				</div>
				<span class="error-field hide" id="error-origaddress">Address is a required field</span>
			</div>	
			<div class="form-unit locate-by-zip-wrapper">
				<div class="form-input">
					<label for="origcity">City:</label>
					<input type="text" id="origcity" name="origcity" required data-valid="error-origcity">
				</div>
				<span class="error-field hide" id="error-origcity">City is a required field</span>
			</div>
			<div class="form-unit locate-by-zip-wrapper">
		</fieldset>
		<p>
			<button type="submit" class="action red">Get Directions</button>
		</p>
	</form>
</div>