<div id="main" role="main">
	<% if @page_message %>
	<div class="page-message">
		Please sign in.
	</div>	
	<% end %>
	<h1 class="page-title form-title">Sign In</h1>
	<!-- Use below for displaying server error messages stemming from user input 
	<div class="form-errors">
		<p>Please correct the following information:</p>
		<ul>
			<li>Order number is in an invalid format.</li>			
		</ul>
		<i class="pictos icon-error"></i>
	</div> -->
	<% if request.cookies["logged-in"] == 'true' %>
	<p>
		You are currently logged in. Please <a href="/">click here</a> to continue shopping.
	</p>
	<% else %>
	<p>
		Please enter your account information below to sign in to mtdparts.com.
	</p>
	<div class="checkout-block my-account">
		<form action="/login" method="post" class="validate form-signin" id="form-signin" novalidate>
			<div class="form-unit">
				<div class="form-input">
					<label for="username">Username:</label>
					<input type="text" name="username" id="username" data-valid="error-username" required />
					<a href="/forgot-username" title="forgot username?" id="forgot-username-link">forgot username?</a>
				</div>
				<span class="error-field hide" id="error-username">Username is a required field</span>
			</div>
			<div class="form-unit">
				<div class="form-input">
					<label for="password">Password:</label>
					<input type="password" name="password" id="password" data-valid="error-password" required>
					<a href="/forgot-password" title="forgot password?" id="forgot-password-link">forgot password?</a>
				</div>
				<span class="error-field hide" id="error-password">Password is a required field</span>
			</div>
			<input type="hidden" name="return_url" value="/my-account" />
			<button class="action red large" type="submit">Sign In</button>	
			<div class="form-errors user-errors hide">
				<p>Please check your form for the correct information:</p>
				<ul></ul>
				<i class="pictos icon-error"></i>
			</div>
		</form>
	</div>
	<p>
		Don’t have an account?
	</p>
	<p>
		<a href="/my-account/create" class="action grey create-account">Create Account</a>
	</p>
	<% end %>
</div>